<a href="https://colab.research.google.com/github/carive47/wseeds_cafe/blob/main/ETL_POC/poc_digit_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librerias

In [1]:

# Instalación de paquetes necesarios
!pip install --upgrade google-auth google-auth-oauthlib google-auth-httplib2 googleapiclient xlsxwriter unidecode
!pip install unidecode
!pip install unidecode pydrive
!pip install xlsxwriter

Requirement already satisfied: google-auth in /usr/local/lib/python3.11/dist-packages (2.38.0)
Collecting google-auth
  Downloading google_auth-2.40.1-py2.py3-none-any.whl.metadata (6.2 kB)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.11/dist-packages (1.2.2)
Requirement already satisfied: google-auth-httplib2 in /usr/local/lib/python3.11/dist-packages (0.2.0)
ERROR: Could not find a version that satisfies the requirement googleapiclient (from versions: none)
ERROR: No matching distribution found for googleapiclient
Collecting unidecode
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.8/235.8 kB 4.5 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0
Requirement already satisfied: unidecode in /usr/local/lib/python3.11/dist-packages (1.4.0)
Requirement already satisfied: pydrive in /usr/local/lib/python3.11/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.11/dist-packages (from pydrive) (2.169.0)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from pydrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.11/dist-packages (from pydrive) (6.0.2)
Requirement already satisfied: httplib2<1.0.0,>=0.19.0 in /usr/local/lib/python3.11/dist-packages (from google-api-python-client>=1.2->pydrive) (0.22.0)
Requirement already satisfied: google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0 in /usr/local/lib/python3.11/dist-packages (from google-api-python-client>=1.2->pydrive) (2.38.0)
Requirement already satisfied: google-auth-httplib2<1.0.0,>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from google-api-python-client>=1.2->pydrive) (0.2.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5 in /usr/local/lib/python3.11/dist-packages (from google-api-python-client>=1.2->pydrive) (2.24.2)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from google-api-python-client>=1.2->pydrive) (4.1.1)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.11/dist-packages (from oauth2client>=4.0.0->pydrive) (0.6.1)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.11/dist-packages (from oauth2client>=4.0.0->pydrive) (0.4.2)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.11/dist-packages (from oauth2client>=4.0.0->pydrive) (4.9.1)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.11/dist-packages (from oauth2client>=4.0.0->pydrive) (1.17.0)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /usr/local/lib/python3.11/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.2->pydrive) (1.70.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /usr/local/lib/python3.11/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.2->pydrive) (5.29.4)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /usr/local/lib/python3.11/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.2->pydrive) (1.26.1)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in /usr/local/lib/python3.11/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.2->pydrive) (2.32.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0->google-api-python-client>=1.2->pydrive) (5.5.2)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /usr/local/lib/python3.11/dist-packages (from httplib2<1.0.0,>=0.19.0->google-api-python-client>=1.2->pydrive) (3.2.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.2->pydrive) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.2->pydrive) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.2->pydrive) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.2->pydrive) (2025.4.26)
Collecting xlsxwriter
  Downloading XlsxWriter-3.2.3-py3-none-any.whl.metadata (2.7 kB)
Downloading XlsxWriter-3.2.3-py3-none-any.whl (169 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.4/169.4 kB 3.3 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.3

In [2]:
# Conexión con Google Drive
from google.colab import drive
from google.colab import auth
from googleapiclient.discovery import build  # API de Google

# Manipulación y análisis de datos
import pandas as pd
import requests  # Para hacer peticiones HTTP

# Utilidades para comparación y procesamiento de texto
from difflib import get_close_matches  # Encontrar coincidencias aproximadas en texto
import datetime  # Manejo de fechas y tiempos
import re  # Expresiones regulares para limpieza de datos
import os  # Interacción con el sistema de archivos
import unidecode  # Normalización de caracteres especiales en texto
import unidecode
import logging
import uuid

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

WARNING:root:pydrive is deprecated and no longer maintained. We recommend that you migrate your projects to pydrive2, the maintained fork of pydrive

# Acceso a Tablas digitalizadas

In [3]:
# Montar Google Drive
drive.mount('/content/drive')

# Autenticación del usuario para acceso a Drive
auth.authenticate_user()

Mounted at /content/drive

In [4]:
# Conectar con la API de Google Drive
drive_service = build('drive', 'v3')

In [ ]:
# Consulta para obtener carpetas creadas por ti
query = "mimeType='application/vnd.google-apps.folder' and 'root' in parents and trashed=false"

# Obtener lista de archivos (carpetas en este caso)
results = drive_service.files().list(q=query, fields="files(id, name)").execute()

# Mostrar nombres e ID de las carpetas
print("Carpetas creadas por ti:")
for file in results.get("files", []):
    print(f" - Nombre: {file['name']}, ID: {file['id']}")

Carpetas creadas por ti:
 - Nombre: finca_cafe, ID: 1MdUqtY13KIbwZ2wkuVy_YhWMZ45nC-8X
 - Nombre: tablas_unzip, ID: 1NL0FI2-CUQNYzPc43XUZz8tVa-9lXcdj
 - Nombre: Google Earth, ID: 1wvqEviGhGdtes96hnjPA14sujCoYsGs-
 - Nombre: Tablas_Consolidadas_V2, ID: 1jCAyN8YRRJBwlxT4D2lb3EA03WPflB82
 - Nombre: Tablas_Consolidadas, ID: 1JKO3lp0HNBYOvc3GhYTXlbtPt5V_Otza
 - Nombre: mlocal-analytics-python-client-master_deploy, ID: 1JJVC9RYL4qk5-gQvPEqYUYXJhqOrnpWG
 - Nombre: imprimir Abril, ID: 11rN_-21fHbLC3xywdBtBNa90qTxCWULX
 - Nombre: Bitso, ID: 1yOkgz3RpTJjPUfewJjcQb83__GeRB9o6
 - Nombre: Aguablanca, ID: 1bZSNw-_qQzxB648X4vmSrHF8m5U_0l8C
 - Nombre: Colab Notebooks, ID: 1Wb_2tdBTxuyqE09kb3_gdBBem423iLTQ
 - Nombre: CodigosMOOC AlgNeg, ID: 1-bA3KFZVXfdIc_rHnmn-o72_QRPB3l5y
 - Nombre: Classroom, ID: 1ARXecoA6N8J1ebcR8AHpTmAr-R3vHm4yMc9ra73xP0ZXHHHleD5P50T3YXxytKFtIRuJ3wxf
 - Nombre: Uktimas fot, ID: 1Nog8C9JUF0mH9hEdFml5AdBVeDgRFlb6
 - Nombre: celular, ID: 1HThnWshJhrE23Ae4nK4AD3RniuGZnyXZ
 - Nombre: CoinbaseWalletBackups, ID: 1UqCqVyW2f9xfYB8uHe5lTuJYJBn88DWv
 - Nombre: proyecto de Chocolate, ID: 1DHVE9NL4dvVlxA-T63-IC81a1BtPiyWD

# Descargar tablas

In [ ]:

gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Paso 3: Definir ID de carpeta pública de Google Drive
folder_id = '1NL0FI2-CUQNYzPc43XUZz8tVa-9lXcdj'

# Crear carpetas locales para guardar los archivos
local_folder = '/content/datos_finca'
output_folder = '/content/datos_finca_processed'
os.makedirs(local_folder, exist_ok=True)
os.makedirs(output_folder, exist_ok=True)

In [ ]:

# Paso 4: Listar y descargar archivos desde la carpeta pública
file_list = drive.ListFile({'q': f"'{folder_id}' in parents and trashed=false"}).GetList()
print(f"Descargando {len(file_list)} archivos...")

for file in file_list:
    filename = file['title']
    filepath = os.path.join(local_folder, filename)
    file.GetContentFile(filepath)
    print(f'Descargado: {filename}')

# Paso 5: Procesamiento de archivos descargados
# Define encabezados estándar por actividad
table_headers = {
    "control_maleza": ["LOTE", "FECHA", "METODO", "N.DE LITROS", "VALOR", "N.DE JORNALES", "VALOR", "VALOR TOTAL", "ACUMULADO VALOR"],
    "control_roya": ["LOTES", "FECHA", "PRODUCTO", "P.CARENCIA", "P.INGRESO", "N. DE LITROS", "VALOR", "JORNALES", "VALOR", "VALOR TOTAL", "ACUMULADO VALOR"],
    "fertilizacion": ["LOTES", "FECHA", "TIPO DE ABONO", "DOSIS", "BULTOS", "VALOR", "JORNALES", "VALOR", "VALOR TOTAL", "ACUMULADO"],
    "recoleccion": ["fecha", "kilos café", "N.jornales", "valor.jor", "A. kilos", "A.valor", "A.jor", "bultos", "kilos", "A.bultos", "A.kilos"],
    "renovacion": ["LOTE", "FECHA", "METODO", "N.DE LITROS", "VALOR", "N.DE JORNALES", "VALOR", "VALOR TOTAL", "ACUMULADO VALOR"],
    "deschupon_resiembra": ["LOTES", "FECHA", "VALOR", "ACUMULADO VALOR"]
}
# Diccionario para almacenar las tablas finales por actividad
final_tables = {actividad: [] for actividad in table_headers}

Descargando 41 archivos...
Descargado: primavera__recoleccion.csv
Descargado: la_paloma__control_maleza (2).csv
Descargado: villa_libia__recoleccion (3).csv
Descargado: santa_rita__control_roya.csv
Descargado: villa_libia__recoleccion (2).csv
Descargado: santa_rita__recoleccion.csv
Descargado: primavera__recoleccion (3).csv
Descargado: la_paloma__control_maleza (4).csv
Descargado: santa_rita__recoleccion (1).csv
Descargado: santa_rita__control_maleza (2).csv
Descargado: primavera__control_maleza (6).csv
Descargado: villa_libia__fertilizacion (2).csv
Descargado: primavera__control_maleza (4).csv
Descargado: la_paloma__fertilizacion.csv
Descargado: santa_rita__control_maleza (3).csv
Descargado: santa_rita__fertilizacion.csv
Descargado: villa_libia__control_maleza (3).csv
Descargado: primavera__control_roya.csv
Descargado: primavera__control_maleza (2).csv
Descargado: villa_libia__deschupon_resiembra.csv
Descargado: santa_rita__recoleccion (2).csv
Descargado: villa_libia__control_roya.csv
Descargado: la_paloma__recoleccion (2).csv
Descargado: villa_libia__fertilizacion.csv
Descargado: la_paloma__recoleccion.csv
Descargado: la_paloma__control_maleza.csv
Descargado: villa_libia__control_maleza (2).csv
Descargado: la_paloma__fertilizacion (2).csv
Descargado: la_paloma__renovacion.csv
Descargado: primavera__recoleccion (2).csv
Descargado: primavera__control_maleza.csv
Descargado: villa_libia__recoleccion.csv
Descargado: santa_rita__recoleccion (3).csv
Descargado: santa_rita__control_maleza.csv
Descargado: primavera__control_maleza (5).csv
Descargado: villa_libia__control_maleza.csv
Descargado: primavera__control_maleza (3).csv
Descargado: primavera__fertilizacion.csv
Descargado: la_paloma__control_roya.csv
Descargado: primavera__control_maleza (7).csv
Descargado: la_paloma__control_maleza (3).csv

#consolidar y crear dataframes consolidados

In [ ]:

def process_file(filepath, filename):
    try:
        # Leer el archivo con skipinitialspace=True
        df = pd.read_csv(filepath, delimiter=',', skipinitialspace=True)

        # Eliminar la última columna si está vacía
        if df.columns[-1] == '':
            df = df.iloc[:, :-1]

        # Eliminar filas a partir de "Confidence Scores" en la primera columna
        stop_idx = df[df.iloc[:, 0].astype(str).str.contains("Confidence Scores", na=False)].index
        if not stop_idx.empty:
            df = df.loc[:stop_idx[0]-1]

        # Extract finca and actividad using regex
        match = re.match(r"(.+)__(.+?)(?: \(\d+\))?\.", filename)
        if match:
            finca, actividad = match.groups()
        else:
            print(f" Nombre de archivo inválido: {filename}, se omite el archivo.")
            return

        # Comprobar que el archivo corresponde a una actividad válida
        if actividad not in table_headers:
            print(f" Actividad no válida en {filename}, se omite el archivo.")
            return

        # Seleccionar solo las columnas necesarias
        expected_cols = table_headers[actividad]
        df = df[df.columns[:len(expected_cols)]]  # Seleccionar las primeras n columnas

        # Verificar si el número de columnas es el esperado (después de la selección)
        if len(df.columns) != len(expected_cols):
            print(f" {filename}: columnas esperadas = {len(expected_cols)}, columnas reales = {len(df.columns)} → no se procesará.")
            return

        # Asignar los encabezados correctos
        df.columns = expected_cols

        # Agregar las columnas 'finca' y 'actividad'
        df['finca'] = finca
        df['actividad'] = actividad

        # Agregar la tabla al diccionario de tablas finales
        final_tables[actividad].append(df)

        print(f" Archivo {filename} procesado correctamente.")
    except Exception as e:
        print(f" Error procesando {filename}: {e}")

In [ ]:

# Recorrer los archivos descargados
for file in file_list:
    filename = file['title']
    filepath = os.path.join(local_folder, filename)
    if any(ext in filename for ext in ['.xlsx', '.xls', '.csv']):  # Revisa si contiene las extensiones
        process_file(filepath, filename)

# Unir todas las tablas por actividad y guardarlas
for actividad, tablas in final_tables.items():
    if tablas:  # Solo procesar si hay tablas para esta actividad
        df_final = pd.concat(tablas, ignore_index=True)
        output_filepath = os.path.join(output_folder, f"{actividad}_final.csv")
        df_final.to_csv(output_filepath, index=False)
        print(f"✔️ Tabla final de '{actividad}' guardada con {len(df_final)} filas.")
    else:
        print(f"⚠️ No se encontraron archivos para la actividad {actividad}.")

✔️ Archivo primavera__recoleccion.csv procesado correctamente.
✔️ Archivo la_paloma__control_maleza (2).csv procesado correctamente.
✔️ Archivo villa_libia__recoleccion (3).csv procesado correctamente.
✔️ Archivo santa_rita__control_roya.csv procesado correctamente.
✔️ Archivo villa_libia__recoleccion (2).csv procesado correctamente.
✔️ Archivo santa_rita__recoleccion.csv procesado correctamente.
✔️ Archivo primavera__recoleccion (3).csv procesado correctamente.
✔️ Archivo la_paloma__control_maleza (4).csv procesado correctamente.
✔️ Archivo santa_rita__recoleccion (1).csv procesado correctamente.
✔️ Archivo santa_rita__control_maleza (2).csv procesado correctamente.
✔️ Archivo primavera__control_maleza (6).csv procesado correctamente.
✔️ Archivo villa_libia__fertilizacion (2).csv procesado correctamente.
✔️ Archivo primavera__control_maleza (4).csv procesado correctamente.
✔️ Archivo la_paloma__fertilizacion.csv procesado correctamente.
✔️ Archivo santa_rita__control_maleza (3).csv procesado correctamente.
✔️ Archivo santa_rita__fertilizacion.csv procesado correctamente.
✔️ Archivo villa_libia__control_maleza (3).csv procesado correctamente.
✔️ Archivo primavera__control_roya.csv procesado correctamente.
✔️ Archivo primavera__control_maleza (2).csv procesado correctamente.
✔️ Archivo villa_libia__deschupon_resiembra.csv procesado correctamente.
✔️ Archivo santa_rita__recoleccion (2).csv procesado correctamente.
✔️ Archivo villa_libia__control_roya.csv procesado correctamente.
✔️ Archivo la_paloma__recoleccion (2).csv procesado correctamente.
✔️ Archivo villa_libia__fertilizacion.csv procesado correctamente.
✔️ Archivo la_paloma__recoleccion.csv procesado correctamente.
✔️ Archivo la_paloma__control_maleza.csv procesado correctamente.
✔️ Archivo villa_libia__control_maleza (2).csv procesado correctamente.
✔️ Archivo la_paloma__fertilizacion (2).csv procesado correctamente.
✔️ Archivo la_paloma__renovacion.csv procesado correctamente.
✔️ Archivo primavera__recoleccion (2).csv procesado correctamente.
✔️ Archivo primavera__control_maleza.csv procesado correctamente.
✔️ Archivo villa_libia__recoleccion.csv procesado correctamente.
✔️ Archivo santa_rita__recoleccion (3).csv procesado correctamente.
✔️ Archivo santa_rita__control_maleza.csv procesado correctamente.
✔️ Archivo primavera__control_maleza (5).csv procesado correctamente.
✔️ Archivo villa_libia__control_maleza.csv procesado correctamente.
✔️ Archivo primavera__control_maleza (3).csv procesado correctamente.
✔️ Archivo primavera__fertilizacion.csv procesado correctamente.
✔️ Archivo la_paloma__control_roya.csv procesado correctamente.
✔️ Archivo primavera__control_maleza (7).csv procesado correctamente.
✔️ Archivo la_paloma__control_maleza (3).csv procesado correctamente.
✔️ Tabla final de 'control_maleza' guardada con 306 filas.
✔️ Tabla final de 'control_roya' guardada con 86 filas.
✔️ Tabla final de 'fertilizacion' guardada con 123 filas.
✔️ Tabla final de 'recoleccion' guardada con 277 filas.
✔️ Tabla final de 'renovacion' guardada con 17 filas.
✔️ Tabla final de 'deschupon_resiembra' guardada con 7 filas.

In [ ]:
for actividad, tablas in final_tables.items():
    if tablas:  # Solo si hay DataFrames para esta actividad
        print(f"\n--- {actividad} ---")  # Imprimir el nombre de la actividad
        for tabla in tablas:  # Iterar sobre los DataFrames de la actividad
            display(tabla)  # Mostrar el DataFrame
    else:
        print(f"⚠️ No se encontraron DataFrames para la actividad {actividad}.")

--- control_maleza ---

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'Tomation,'06-27,'Guadaua,',',',','275000,'23'289.400,la_paloma,control_maleza
1,'Batea,'06-27,'C.Q/CO,'3.6+/.5,'126000,'3 cradras,'240.000,'306.000,'23'655.400,la_paloma,control_maleza
2,','06-27,'Guadana,',',',','440.000,'24'095 400,la_paloma,control_maleza
3,'/cenicale,'06-28,'Guadana,',',',','165000,'24'260.400,la_paloma,control_maleza
4,'Ladeva,'07.4,'C.Q/W,'SL+ZL+ZL,'225000,'4er 80000,'320.000,'545000,'24'805.400,la_paloma,control_maleza
5,'carawl,'07.4,'Gradeun,',',',','330000,'25'135 400,la_paloma,control_maleza
6,'culebra,'08.12,'Guadana,',',',','495000,'25'630.400,la_paloma,control_maleza
7,'pubi'2,'07.5,'Guadaia,',',',','880.000,'26'510.400,la_paloma,control_maleza
8,'Guamera,'07-25,'Guadaina,',',',','440.000,'26'950400,la_paloma,control_maleza
9,','07-22,'C.Q/CO,"'9,61+4L",'352000,'Swadras,'640000,'640000,'27'590400,la_paloma,control_maleza
10,'pelodoia,'07.26,'C.O/co,"'4,8+22",'176 000,"'4 """,'320000,'496.000,'28'086400,la_paloma,control_maleza
11,'pelodora,'07.25,'Derbefucado,',','18,','864000,'28' 950 400,la_paloma,control_maleza
12,'Gramera,'08-,',',','35,','i680000,'30'630 400,la_paloma,control_maleza
13,'cerical,'08.7,'C.Q/W,'3Lt IC,'106000,','160000,'176000,'30'800400,la_paloma,control_maleza
14,'culebra,'08-14,'Desbyricada,',','20,'960000,'960000,'31 7 6 400,la_paloma,control_maleza
15,'Batea,'08 . 15,'11,',','12,'576000,'576000,'32' 342 . 400,la_paloma,control_maleza
16,'Motob.,'08-,'C.Q/20,"'4,42+1.8",'161.000,"'4,5 cuadra",'360000,'521.000,'32'863400,la_paloma,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'Batea,'02-2,'Guadana,','450.000 cuadras,'10,'470000,'920.000,'920.000,la_paloma,control_maleza
1,'Motob.,'02.8,"'"" "",'""","'3,5 5",',','350000,'1270.000,NaN,la_paloma,control_maleza
2,'Porven','01.23,'C.Q/W,'201 + 101,'euadras,',','500.000,'1 770.000,la_paloma,control_maleza
3,'culbia,'02-21,'C.Q/CO,','900.000,'20,'940000,'1840000,'3'610.000,la_paloma,control_maleza
4,'fuclera,'02-21,'Guadaina,','Contrato =,"'- 4,5",'- cuadras x 110000,'- 495000,'- 4'105 000,la_paloma,control_maleza
5,'T/ra,'02-21,'C.Q/W,"'2,5+1,5+1.5",'165 000,'contrato,'160.000,'325000,'4'430000,la_paloma,control_maleza
6,'cologouse,'02-23,'C.Q/W,"'52+2,5+2,5",'384000,'11 cuadras,'400.000,'784000,'5'214000,la_paloma,control_maleza
7,'Darubio,'02.29,'Guadana,','contrate,',','220000,'5' 434000,la_paloma,control_maleza
8,'L-5,'03-11,'11,','11,'$110.000/undra,','220000,'5'654000,la_paloma,control_maleza
9,'culebra,'02-29,'C. Q/W,'GLt3L+36,'460 800,'6,'400.000,'860.800,'6'514800,la_paloma,control_maleza
10,'carael,'03-14,'C.Q/CO,"'31+1,5 11,5",'195000,','240.000,'435000,'6'949.800,la_paloma,control_maleza
11,',','y w,',',',',',',la_paloma,control_maleza
12,'petactory,'03-8,'Derbejuccates,',','11,','528000,'7'477.800,la_paloma,control_maleza
13,'porton,'03.,'Guadana,',',',','990.000,'8'467.800,la_paloma,control_maleza
14,'cenical,'03-19,'C.Q/10,'2.4,'72000,','160.000,'232000,'8'699.800,la_paloma,control_maleza
15,'Dambio,'03,'c.a/w,'T A A 36thst/s,'215400,','100000,'375400,'9'075.200,la_paloma,control_maleza
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'Tanques,'06 - 11,'Guadaua,',',',','330.000,'7'966.000,santa_rita,control_maleza
1,'Dosbigue,'05-1,'varios,',','55.,','2'640 000,'10'606.000,santa_rita,control_maleza
2,'varior,'06-10,'plateos,',','80,','3'840000,'14 446.000,santa_rita,control_maleza
3,'ED01),'06-19,'Derbey. Guadaria,',',',','550000,'14'996.000,santa_rita,control_maleza
4,'Angrelling,'06 - 24,'11,',',',','330000,'15'326.000,santa_rita,control_maleza
5,'colezaria,'06-20,'C.Q/W,"'10,5+5,5",'403 000,'14,'686000,'1089000,'16'415.000,santa_rita,control_maleza
6,'potserop Corona,'07.12,'C.Q/W,"'11+4,0",'394000,'15,'735000,'1'050000,'17'465000,santa_rita,control_maleza
7,'EDO,'07-25,'C.Q/CO,"'7,5L+2,5",'265000,'10,'490000,'755000,'18'220000,santa_rita,control_maleza
8,',','Graddua,',',"'7,5 wad",'100,'825000,'19'045.000,santa_rita,control_maleza
9,'Alliat,'08-2,'C.Q/CO,'61+2,'212000,"'7,0",'343000,'555.000,'19'600.000,santa_rita,control_maleza
10,'palma,'08.1,'Guadaria,',',',','330000,'19'930000,santa_rita,control_maleza
11,'Taugars,'08.15,"'"" 11",',',',','330000,'20'260.000,santa_rita,control_maleza
12,'variedad,'08 - 19,'C.Q/CO,"'13,5+4,5",'477000,'18,'822 000,'1359.000,'21'619.000,santa_rita,control_maleza
13,'eobyour,'10-20,'Guadaua,',',',','605000,'22'224 000,santa_rita,control_maleza
14,'Al lla,'10-28,'11,',',',','330000,'22'554000,santa_rita,control_maleza
15,'EDO'S,'10.26,'11,',',',','550000,'23 104.000,santa_rita,control_maleza
16,'Potserup,'11-10,"'""",',',',','110.000,'23' 214000,santa_rita,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,santa_rita,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'9,'02.27,'Guadaia,','contrato,',','253000,'9511.000,primavera,control_maleza
1,'11,'02-29,'Quadaia,','11,',','440000,'9'951.000,primavera,control_maleza
2,'2,'03-5,'Desbgercada,',','17,','840000,'10'791.000,primavera,control_maleza
3,'1,'03-5,'plated,',',"'17,5",','840.000,'11'631000,primavera,control_maleza
4,'11,'02-28,'plateD,',','24,','1152000,'13'083.000,primavera,control_maleza
5,'1,'03-7,'Guadaiia,',','contrato,','407.000,'13'490000,primavera,control_maleza
6,'11,'03.1,'Guadaia,',',"'"" "",'""",'440000,'13'930000,NaN,primavera,control_maleza
7,'7,'03-,'C.Q/W,'3L+1.5,'140 000,'3cuadra,'240.000,'380.000,'14'310 000,primavera,control_maleza
8,'3,'03-9,'Guadara,"'3L+1,5L",'191.400,'3wadree,'431.400,'431.400,'14'741400,primavera,control_maleza
9,'6,'03-,'C.Q/CO,'7L+3.5Lt,"'3,5",'440.000,'456000,'896000,'15'637400,primavera,control_maleza
10,'13,'03-7,'Desby suilda,',','13.5,','648000,'16'285400,primavera,control_maleza
11,'7,'03-14,"'"" 11",',','12.0,','576000,'16'861.400,primavera,control_maleza
12,'2,'03-13,'C Q/CO,"'3L+1,5+1,2196",'228000,','288000,'510000,'17'377.400,primavera,control_maleza
13,'13,'03 - 15,'C.Q/W,"'3L+1,St1:2196",'228000,','248000,'470000,'17'853400,primavera,control_maleza
14,'8,'03-21,'c.a/w,','380000,'Garadras,'520000,'900.000,'18'753400,primavera,control_maleza
15,'108,'03-18,'e.g/co,'2L+11+96t94,'149000,'contrate,'144000,'293000,'19'046.400,primavera,control_maleza
16,'9,'03-20,'C.Q/CO,"'2L+1L+0,4+94",'145000,'11,'184000,'329000,'19'375400,primavera,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,','7,'05.13,',',','22 x48,'000,'1560.000,primavera,control_maleza
1,'*,'5,'05 - 23,'11,',','25x48,'000,'1'200.000,primavera,control_maleza
2,','5,'05-24,'c.Q/w,'4L+2L+1.2tok,'260.000,','400.000,'660.000,primavera,control_maleza
3,','6,','06-20,',','23,','1104.000,primavera,control_maleza
4,','6.,'05-31,'C.Q/20,"'41+1.2+0,4",'215000,','480000,'695000,primavera,control_maleza
5,','11,'05-29,'plateo,',','26,','1248000,primavera,control_maleza
6,','11,'06-7,'Guadaiia,',',','440.000,'440.000,primavera,control_maleza
7,','7,'06-3,'C.Q/CO,"'D 3+0,670,2",'110.000,','240000,"'350,000",primavera,control_maleza
8,','8,'06-7,'C.Q/W,"'6+1.2 to,3",'2 20000,','400.000,'620.000,primavera,control_maleza
9,','1,'06-3,'Guadawa,',',','320000,'440.000,primavera,control_maleza
10,','1,'06.4,'plateo,',','24,','1152000,primavera,control_maleza
11,','1zatra,'06-12,'e.Q/co,"'4,5+03",'150000,','320000,'470000,primavera,control_maleza
12,','101,'06-14,'Guadana,',',',','253000,primavera,control_maleza
13,','9,'06-13,'11,',',',','253000,primavera,control_maleza
14,','4,'06-17,'pubejucada,',','18,','864000,primavera,control_maleza
15,'2,','06.18,'e.Q/w,"'4,5+0,6+0,3",'160000,','288000,'448000,primavera,control_maleza
16,'13,','00-18,'C.Q/CO,'3 + 0 6 6 0 0,'120000,','248000,'368000,primavera,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,',','Guadana,',',',','825000,'24039.000,santa_rita,control_maleza
1,'Rz Tanques,'12-1,"'""",',',',','330.000,'24'369 000,santa_rita,control_maleza
2,'cologuous,'12-11,'plateo-,'pabonada,','15,'735000,'735000,'25'104.000,santa_rita,control_maleza
3,',',',',',',',',',santa_rita,control_maleza
4,',',',',',',',',',santa_rita,control_maleza
5,',',',',',',',',',santa_rita,control_maleza
6,',',',',',',',',',santa_rita,control_maleza
7,',',',',',',',',',santa_rita,control_maleza
8,',',',',',',',',',santa_rita,control_maleza
9,',',',',',',',',',santa_rita,control_maleza
10,',',',',',',',',',santa_rita,control_maleza
11,',',',',',',',',',santa_rita,control_maleza
12,',',',',',',',',',santa_rita,control_maleza
13,',',',',',',',',',santa_rita,control_maleza
14,',',',',',',',',',santa_rita,control_maleza
15,',',',',',',',',',santa_rita,control_maleza
16,',',',',',',',',',santa_rita,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,santa_rita,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'4,'07-9,'C- Q/W,"'2.4+0,8",'84800,','184000,'268.800,'11'121. 200,villa_libia,control_maleza
1,'5,'07-10,'C.Q/CO,'1.2 0 . 4,'42400,','88000,'130 400,'11'251.000,villa_libia,control_maleza
2,'2,'07-16,'Guadaug,',',',','594000,'11'845 600,villa_libia,control_maleza
3,'7,'07-12,'C.O/co,"'3,6+1,2",'127.200,','424000,'551.200,'12'396.800,villa_libia,control_maleza
4,'1,'07-19,'C.Q/W,'112 to.4,'42400,','80000,'122.400,'12'519.200,villa_libia,control_maleza
5,'3,'07 - 15,'C.Q/e0,'112 to 4,'42400,','120000,'102 400,'12 681.600,villa_libia,control_maleza
6,'8,'07-17,'c.o/w,"'2.4+0,8",'84800,','248000,'332800,'13'014.400,villa_libia,control_maleza
7,'2,'07 - 25,'c.o/co,"'4,8L+/16",'169.600,','440000,'609.600,'13624000,villa_libia,control_maleza
8,'6,'07-26,'C.Q/W,"'0,6+0.2",'21.200,','40000,'61.200,'13 085.200,villa_libia,control_maleza
9,'4,'08-14,'Guadana,',',',','112000,'23'797.200,villa_libia,control_maleza
10,'2,'09.2,'C.Q/W,"'4,5L+/15",'187500,','432000,'619500,'14'416.700,villa_libia,control_maleza
11,'3,'09-10,'Guadaua,',',',','110.000,'14'526.700,villa_libia,control_maleza
12,'4,'09 - 3,'C. Areo,"'1,2+0,5",'43 500,','184000,'227500,'14754200,villa_libia,control_maleza
13,'8,'09-5,'Guadawa,',',',','253000,'15'007.200,villa_libia,control_maleza
14,'5.6,'09.6,'C.O/co,'12205,'43500,','104000,'147.500,'15'154700,villa_libia,control_maleza
15,'1,'09-6,'C.Q/20,"'0,81+0,25",'28000,','80000,'108.000,'15'202.700,villa_libia,control_maleza
16,'7,'09-13,'Guadawa,','3 cuadras,',','330.000,'15'592 700,villa_libia,control_maleza
17,'7,'09 - 13 C.,'Q/W,'2L+1L,'70.000,','240000,'310000,'15'902 700,villa_libia,control_maleza
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,villa_libia,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'8,'08.7,'C.Q/W,"'7,SL+1,5",'249000,'48000,"'520,000",'769000,'51 887.060,primavera,control_maleza
1,'5,'08-13,'Desbojucada,',','18,','874000,'52'761060,primavera,control_maleza
2,'4,'08-2,"'""",',',',','144000,'52'905.060,primavera,control_maleza
3,'6,'08-14,"'""",',','10,','480.000,'53'385.000,primavera,control_maleza
4,'1.B.R,'08.16,'plateo,',',"'8,5",','408000,'53'793 000,primavera,control_maleza
5,'11,'08-14,'C.Q/CO,',',',','320.000,'54'113.000,primavera,control_maleza
6,'1,'08-23,'C.Q/CO,"'4,5",'135000,','320.000,'455.000,'54'568000,primavera,control_maleza
7,'zatra 1,'08-21,"'""",'4.5,'135000,','320000,'455000,'55'023.060,primavera,control_maleza
8,'8,'08.21,',',','19,','912000,'55'935.060,primavera,control_maleza
9,'1B.R,'08.30,'Deschuponada,'lotes 1-11,'B.R.,'2,','96000,'56031.060,primavera,control_maleza
10,'10,'08.7,'saulda,',',"'9,5",','456000,'56'487.000,primavera,control_maleza
11,'9,'08-22,'Suida Beuco,',','5.0,','240.000,'56'727.060,primavera,control_maleza
12,'3,'08-31,"'"" "",'""",','16,'778000,'778000,'57'505.060,NaN,primavera,control_maleza
13,'7,'09-4,'@ a co,"'10,SL+3,SL",'420000,','840000,'j260.000,'58'765060,primavera,control_maleza
14,'13,'09-6,'suilda Debijucada,',','13*48000,','624000,'59'389060,primavera,control_maleza
15,'2,'09-10,'C.Q/W,"'4,5+1,5",'180000,','288000,'468000,'59'857.060,primavera,control_maleza
16,'13,'09.9,'C.Q/20,"'4,5+1,5",'180000,','248000,'428000,'60 285.000,primavera,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'Danutic,'08-14,'Goodaua,','2 cuadras x,'NO 000,','220000,'33083.400,la_paloma,control_maleza
1,'co,'08.26,'Guadaua,',"'5 ""","'""",','550000,'33'633.400,la_paloma,control_maleza
2,'Rubi 2,'08-,',',','10,','480000,'34'113.400,la_paloma,control_maleza
3,'Libro,'08-23,'Guadaia,',',',','440000,'34'553 400,la_paloma,control_maleza
4,'Batia,'08-20,'C.Q/00,"'3,6+1.5",'132000,','240.000,'372.000,'34'925.400,la_paloma,control_maleza
5,'peop,'08-,'Derbijucata,',',',',',',la_paloma,control_maleza
6,'Gramera,'08.29,'C.Q/W,'4B+2,'214000,'320.000,','534000,'35 459 400,la_paloma,control_maleza
7,'porton,'09-6,'Gradaia,',',',','880000,'36'339.400,la_paloma,control_maleza
8,'Caroool,'09-6,'C.Q/CO,"'4,5+1.5",'180000,'3 caucas,'240000,'420.000,'36'759400,la_paloma,control_maleza
9,'puladan,'09-18,'C.0/20,'CL+24,'140 000,','320000,'460000,'37219400,la_paloma,control_maleza
10,'ii->,'er,'Getty,',',',',',',la_paloma,control_maleza
11,'porton,'09-24,'Dasbeyucada,',','18,','864000,'38'083 400 39'139400,la_paloma,control_maleza
12,'Danubio,'11.4,'plated,',','22,','1056000,'39'379400,la_paloma,control_maleza
13,'Danubid,'11-18,'Guadaua,'zanadras 120.000,'wadra,',','240000,'39'779400,la_paloma,control_maleza
14,'Batea,'11-21,'II,','x 120.000,',','420.000,'40'819400,la_paloma,control_maleza
15,'Postair,'11 - 22,'11,"'8,Sevadies",'x120000,',','1'020000 660.000,'41479400,la_paloma,control_maleza
16,'Rubi),'11-26,'11,',',',',',',la_paloma,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'6,'04-10,'plate,',',"'1,5",','72000,'5'201000,villa_libia,control_maleza
1,'2,'04-30,'Guadana,"'5,5",'auadras x 110.000,',','605000,'5'866000,villa_libia,control_maleza
2,'8,'04-22,'plateo,',',"'4,0",','192000,'5'058000,villa_libia,control_maleza
3,'2,'05-23,'plateo,',',',','312.000,'6'370000,villa_libia,control_maleza
4,'6,'05-15,'Guadaua,',',',','55.000,'6'425000,villa_libia,control_maleza
5,'3,'05 - 1,'C.Q/W,"'1.4+0,5",'74800,','80000,'154800,'6'579 800,villa_libia,control_maleza
6,'4,'05 - 3,'C.Q/20,"'2,070.8",'107.600,"'2, 3 cuadros",'184000,'291600,'6'871.400,villa_libia,control_maleza
7,'5,'05-10,'c.o/w,"'0,8+0.4",'53000,','04000,'117.000,'6'988400,villa_libia,control_maleza
8,'6,'05 - 13,'e.Q/co,"'2L+O,St08",'138000,','160.000,'298000,'7'286400,villa_libia,control_maleza
9,'1,'05 - 17,'c.q/co,"'0,210.3",'11000,','40000,'51.000,'7'337400,villa_libia,control_maleza
10,'8,'05 - 23,'Guadana,',',',','341000,'7'678400,villa_libia,control_maleza
11,'7,'05-29,'Guadana,',',',','440000,'8118.400,villa_libia,control_maleza
12,'2,'06-12,'Guadawa,',',',','605000,'8'723.400,villa_libia,control_maleza
13,'8,'06.19,'C.Q/CO,',',"'3, seuadras",'x 80000,'248000,'8'971.400,villa_libia,control_maleza
14,'7,'06 - 27,'C. Q/10,"'9L+32 to,6",'330000,','440000,'770000,'9' 741.400,villa_libia,control_maleza
15,'6,'06 - 14,'Gradaira,',',',','55000,'9'796400,villa_libia,control_maleza
16,'varios,'06-28 Des,'bejueada,',','22x48000,','1'056.000,'10852400,villa_libia,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,villa_libia,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'4,'09-12,'cQ/w,"'4,5+1,5",'180 000,','304000,'484000,'60'769.060,primavera,control_maleza
1,'2,'09.13,'Derbejue Suelda,',','14,'672000,'672000,'61'441.060,primavera,control_maleza
2,'11,'11-,'plateo,'x$80,',',',',',primavera,control_maleza
3,'1,'11-,'11,'980,'14.175x$8,','contrato,'1134.000,'162 575 060,primavera,control_maleza
4,'9,'11-21,'Guadaua,"'2,3emadran",'x$125000,',','287500,'02'862560,primavera,control_maleza
5,'7,'11-19,'11,"'3,3 """,',',','312000,'63'174560,primavera,control_maleza
6,'1,'11.22,'19,"'4,0 11",',',','500.000,'63'674560,primavera,control_maleza
7,'11,'11-28,'11,"'4,0 h",',',','500.000,'04'174560,primavera,control_maleza
8,'8,'11-26,'11,"'6,5 11",',',','812.500,'64'987060,primavera,control_maleza
9,'3,'11-29,'11,"'5,6 """,',',','700.000,'65'687060,primavera,control_maleza
10,'6,'12 - 9,'//,',','5.7 exactrar,','71. 500,'66'399560,primavera,control_maleza
11,'10,'12-5,"'""",',',','512500,'512.500,'66'912060,primavera,control_maleza
12,'1,'12-4,'c o/co,'31+1.5,','150000,'320000,'470.000,'67'382060,primavera,control_maleza
13,'7,'12-13,'Guadana,','125.000/cuadra,',','1250.000,'68'632000,primavera,control_maleza
14,'11,'12.13,'C.Q/CO,"'3L + 1,5",','150000,'320000,'470.000,'69'102060,primavera,control_maleza
15,'9,'12-16,'C.Q/W,"'3L+1,5",','150000,'184000,'334000,'69'436060,primavera,control_maleza
16,'1,'12-17,'Guadaira,',',',','550000,'69'986060,primavera,control_maleza
17,'#2 8,'12-19 12.20,'11 @.Q/CO,'10L+3,'360000,','-,'450000 880.000,'70'436060 71'316.060,primavera,control_maleza
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'palma,'01 - 4,'Guadaua,',',',','300.000,'300.000,santa_rita,control_maleza
1,',','is,',',',','$50.000,',santa_rita,control_maleza
2,'cologuro,'02 - 16,"'""",',',',','605.000,'1205.000,santa_rita,control_maleza
3,'corona,'01-12,'c. o/w,"'L+1,5",'135000,'6,'276000,'411000,'1'616.000,santa_rita,control_maleza
4,'varior,'03.8,'Denbejurada,',','20,','960.000,'2'576000,santa_rita,control_maleza
5,'Tanques goka,'03 - 7,'Guadaira,','contrato-,'110.000,'euadra.,'330000,'2'906.000,santa_rita,control_maleza
6,'potenon,'03.8,'11,',',',','110.000,"'3.0,6000",santa_rita,control_maleza
7,'Varudad,'03.6,'11,',',',','825000,'3'841.000,santa_rita,control_maleza
8,'EDO,'03 .,'11,',',',','550.000,'4391000,santa_rita,control_maleza
9,'Taugus,'03-25,"'""",',',',','330.000,'4'721.000,santa_rita,control_maleza
10,'A/Mal,'04-22,"'""",',',',','330000,'5'051.000,santa_rita,control_maleza
11,'variodad,'05-11,'11,',"'7,5 euadras",'x110.000,','825000,'5'876.000,santa_rita,control_maleza
12,','05-24,'11,',"'6,0 euadras",'x110000,','660.000,'6'536.000,santa_rita,control_maleza
13,'potruro,'05-26,"'""",',',',','110000,'6'646. 000,santa_rita,control_maleza
14,'palma,'05-28,"'""",',',',','330000,'6'976.000,santa_rita,control_maleza
15,'Corona,'06 - 3,'11,',',',','330000,'7'306.000,santa_rita,control_maleza
16,'Tangeer,'06-6,'11,',',',','330000,'7'636.000,santa_rita,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,santa_rita,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,','4,'03-15,'c.o/w,"'3L+1,5+1+96",'225000,','304000,'529000,primavera,control_maleza
1,'*,'5,'03.18,'desbeguradu,',','11,'528000,'528000,primavera,control_maleza
2,','10 B,'03-19,'suilda,',','7,'336000,'336000,primavera,control_maleza
3,','8,'03.22,'Desbelle sulda,',','21,'1080000,'1'080000,primavera,control_maleza
4,','3,'03-22,'Guadara,',','516wadran,','616.000,primavera,control_maleza
5,','10A,'03-26,'C.Q/W,'25+12,'108 560,"'2, 3 11",'184000,'292560,primavera,control_maleza
6,','3,'04-26,'c.o/co,'6.0+/.2,'200.000,','440000,'640.000,primavera,control_maleza
7,','7,'04-5,'Guodaia,',','7 wadres,','770000,primavera,control_maleza
8,','11,'04-9,'plates,',','11.5,','552000,primavera,control_maleza
9,','11,'04-26,'Guadana,',',',','407.000,primavera,control_maleza
10,','1,'04-16,'plateo,',',"'25,0",','1200.000,primavera,control_maleza
11,','6,'04-17,',',',"'18,5",'888.800,'888-800,primavera,control_maleza
12,'I,'zufra,'05-8,'Guadaud,',"'4,5 euadras",'$ 110000,','495.000,primavera,control_maleza
13,','3,'05.1,'desbefucada,',',"'15,5",','744.000,primavera,control_maleza
14,','7,'05-3,'e.o/w,"'5L+2,5+2",'296500,'7 cuadron $ $80000,'560.000,'856 500,primavera,control_maleza
15,','7,'05 - 10,'Guadaia,',',',','220 000,primavera,control_maleza
16,','9,'05-10,',',',',','274000,primavera,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'6,'01 - 22,'Guadacia,',',','200.000,','200.000,villa_libia,control_maleza
1,'8,'01-23,"'""",',',','250000,','450.000,villa_libia,control_maleza
2,'2,'02-25,'11,',"'5,5 euadras",'x 110 000,','605000,'1055.000,villa_libia,control_maleza
3,'6,'02 26,'11,','118 11,',','198000,'1253 000,villa_libia,control_maleza
4,'7,'03 - 12,'11,',',',','6 10 000,'1'863.000,villa_libia,control_maleza
5,'8,'03-16,"'""",',"'1,8 """,',','198000,'2'061.000,villa_libia,control_maleza
6,'4,'03-18,'desbefucada,',',"'4,5",','216000,'2'277000,villa_libia,control_maleza
7,'8,'02-9,'plateo,',','10,','480000,'2'757000,villa_libia,control_maleza
8,'6,'02-21,"'""",',','6,','28 8000,'3'045000,villa_libia,control_maleza
9,'2,'03-12,'11,',','8,','384000,'3'429000,villa_libia,control_maleza
10,'3,'03 - 14,'Guadaria,',',',','165000,'3'594000,villa_libia,control_maleza
11,'1,'03-15,'11,',',',','110.000,'3'704000,villa_libia,control_maleza
12,'5,'03 - 19,'11,',',',','88000,'3'792000,villa_libia,control_maleza
13,'2,'04.1,'11,',"'5,5 Quadras",'x 110.000,','605000,'4'397000,villa_libia,control_maleza
14,'6,'04 - 3,'11,',',',','198000,'4'595000,villa_libia,control_maleza
15,'4,'04.8,'11,',',',','253000,'4'848000,villa_libia,control_maleza
16,'8,'04 - 12,'11,',',',','341.000,'5'189000,villa_libia,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,villa_libia,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'10B,'06-19,'Guadaua,',',',','198000,'42' 127 . 260,primavera,control_maleza
1,'1,'06-20,'Danboyucade,',','12,','576000,'42703.260,primavera,control_maleza
2,'4,'06-21,'c.q/w,"'31tabto,2",'120000,"'3,8 euadras",'340.000,'460.000,'43'163 260,primavera,control_maleza
3,'7,'06-21,'Guadaia,',"'3,3x$110",'000,','363000,'43'526260,primavera,control_maleza
4,'1,'06-26,'C.Q/CO,"'7,2Lt97",'237000,','320000,'557000,'44'083.260,primavera,control_maleza
5,'3,'07-5,'Guadawa,',',',','616000,'44 699.260,primavera,control_maleza
6,'9,'07- 8,'C.Q/W,"'3,271ta2",'120 000,','184000,'304000,'45'003260,primavera,control_maleza
7,'11,'07-28,'c.q/w,"'7,2+0,7",'237000,','320000,'557000,'45'560.260,primavera,control_maleza
8,'10,'07.10,'C.Q/CO,"'4,5+1",'161.000,'328000,','489000,'46'049.260,primavera,control_maleza
9,'Nogales,'07-12,'c.o/co,"'3,771.4",'145000,','264000,'409.000,'46458260,primavera,control_maleza
10,'5,'07 - 19,'co/co,"'6L+1,6794",'230000,','400.000,'630 000,'47'088.260,primavera,control_maleza
11,'13,'07-24,'desbogunder,',','13,','6 24000,'47 712.260,primavera,control_maleza
12,'3,'07-26,'e - Q/10,"'4,SL+1,2+","'0,4=167800",','448000,'615800,'48'328.060,primavera,control_maleza
13,'7,'08.1,'Guadana,',',',','660.000,'48'988.000,primavera,control_maleza
14,'6,'08-1,'C.Q/W,"'6L+2+1,2",'236000 bevadion,','480 000,'716000,'49 704 060,primavera,control_maleza
15,'2,'07.29,',',',',','790000,'50'494.000,primavera,control_maleza
16,'10A,'08.1,'11 11,',','13,','624000,'51'118.060,primavera,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'7,'01 - 3,'Desbejucado,',',"'11,5",','517.500,'517.500,primavera,control_maleza
1,'6,'01.8,'11,',',"'17,5",','787.500,'1'305.000,primavera,control_maleza
2,'soca Nogales,'01 - 11,'Guadaia,',',"'3,0",','153000,'1'458000,primavera,control_maleza
3,'11,'01-15,'plate o,',',"'20,5",','922500,'2'380500,primavera,control_maleza
4,'1,'01.18,'plateo,',',"'23,5",','1'057.500,'3'438000,primavera,control_maleza
5,'5,'01-19,'Desbejucada,',',"'9,0",','405000,'3'843000,primavera,control_maleza
6,'1,'01-19,'Guadaina,','contrate,',','400.000,'4'243000,primavera,control_maleza
7,'11,'01 - 19,"'"" "",'""",','7.0,','357000,'4'600.000,',primavera,control_maleza
8,'10,'02-6,'desbojuccde,',',"'8,0",','384000,'4'984000,primavera,control_maleza
9,'6,'02-16,'Guadaina,',',',','660000,'5'644 000,primavera,control_maleza
10,'8,'02-13,'debbyce Suilda,',','16,','768000,'6'412 000,primavera,control_maleza
11,'10A,'02-15,'14,',','6,','288000,'6'700.000,primavera,control_maleza
12,'9,'02-16,'11,',',"'E,5.",','312000,'7012.000,primavera,control_maleza
13,'$7,'02-16,'C.Q/CO,"'6L+2+0,8",'378000,"'3,3",'audras,'264000,'7'276 000,primavera,control_maleza
14,'5,'02-26,'e.Q/w,"'gl+2,4Lt,,2",'226000,','400.000,'626.000,'7'902.000,primavera,control_maleza
15,'8,'02.23,'Guddaua,','contrato .,',','660.000,'8'562000,primavera,control_maleza
16,'4,'02-21,',','al dia,',','696000,'9'258000,primavera,control_maleza
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,control_maleza

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'Powevir,'04-12,'if,','4.5 cuadran,',','495000,'9'570.200,la_paloma,control_maleza
1,'Hotob,'03-27,'plateo,',"'9,0 """,',','990000,'10'560.200,la_paloma,control_maleza
2,'Gerame,'04-17,'c.0/20,'4L+21+21,'287200,'8,','384000,'10'944.200,la_paloma,control_maleza
3,'Ladora,'04-,'Guadaua,',',','320000,'607.200,'11'551400,la_paloma,control_maleza
4,'Graman,'04-16,'Desbejucada,',',','495000,'495000,'12'046400,la_paloma,control_maleza
5,','05.1,'e.Q/w,"'52+2,5+2,5",'312000,'16,'48000,'768 000,'12'814 400,la_paloma,control_maleza
6,'T/ra,'04-29,',',','13,'360.000,'672000 624000,'13'486400,la_paloma,control_maleza
7,'cologuror,'05-10,"'"" 11",',','21,"'1008,000",'1008000,'14'110 400,la_paloma,control_maleza
8,'porvering,'05-24,'Guadana,',',','1'100.000,'1'100.000,'15'118400 16'218400,la_paloma,control_maleza
9,'porton,'07.1,'perbeful + caudo,'plateo,','66,'3'168000,'3'168000,'19'386400,la_paloma,control_maleza
10,'Danubio,'05-17,'plateo,','al dia,'13,'624000,'624000,'20'010.400,la_paloma,control_maleza
11,','05-6,'C.Q/W,"'9,5L+4,5,4,5 contrato",'573000,','800.000,'1373000,'21'383400,la_paloma,control_maleza
12,'Batea,'05-30,'Guadana,',',',','275000,'21'658.400,la_paloma,control_maleza
13,'Danubio,'06-20,"'"" "",'""",',',','220000,'21'878.400,NaN,la_paloma,control_maleza
14,'Danubio,'07-12,'plateo,',','17,','816000,'22'694400,la_paloma,control_maleza
15,'Motobomba,'06-19,'C.Q/W.,'4L+2L+2L,'252000,'4 euadras,','320 000,'23'014.400,la_paloma,control_maleza
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,control_maleza

--- control_roya ---

,LOTES,FECHA,PRODUCTO,P.CARENCIA,P.INGRESO,N. DE LITROS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'Varios,'04.1,'voliam E,'04-15,'04-$7,'7.0 L,'2 730000,',',',',santa_rita,control_roya
1,',','Apristar z,'04-15,'04-$7,'10 L,'2897.500,',',',',santa_rita,control_roya
2,',',',',',',',',',',',santa_rita,control_roya
3,',',"'33,5",'cancers (,"'23,5 +10",'(Sexess),',',',',',santa_rita,control_roya
4,',',',',',',',',','10192235,',santa_rita,control_roya
5,',','otres If,'Isabion +,'zintrace,','teastia,',',',',santa_rita,control_roya
6,',',','Hand declare,'= 1'60,'8000,',',',',',santa_rita,control_roya
7,',',','&,'48000,'scanca,',',',',',santa_rita,control_roya
8,',',',',',',',','59000,',',santa_rita,control_roya
9,'Cology,'06.19,'Antistart,'porausol,',"'0,75 to",'3: 235000,"'4""",'236000,'471000,',santa_rita,control_roya
10,',',',',',',',',',',',santa_rita,control_roya
11,','08.39,'American,',','6c,'$740.000,"'19,5",'936000,'2732000,',santa_rita,control_roya
12,',','personal,',','2L,'56000,'cancer,',',',santa_rita,control_roya
13,',',',',',',',',',',',santa_rita,control_roya
14,','10,',',',',',',',',',santa_rita,control_roya
15,','07-12,'roliam,',','7.5L,'2'75000,'26,'1248000,',',santa_rita,control_roya
16,',','American,',',"'7,84",'2'262000,'Cancer,','7246859,',santa_rita,control_roya
17,',','Isabian,',','134,'902850,',',',',santa_rita,control_roya
18,',','Agencies,',',"'2,64",'104000,',',','20642085,santa_rita,control_roya
19,',',',',',',',',',',',santa_rita,control_roya
20,',',',',',','5998530,',',',',santa_rita,control_roya
21,',',',',',',',',',',',santa_rita,control_roya
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,santa_rita,control_roya

,LOTES,FECHA,PRODUCTO,P.CARENCIA,P.INGRESO,N. DE LITROS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'1-2-3,'04.8 16,'yoliam,',','17,'6101788,"'60,5",'2'904000,',',primavera,control_roya
1,'4-5-6,','Amistar,',','18,'5258962,'canecas,',','18861.884,primavera,control_roya
2,'7-8-9,','Isabion,',','18,"'1,200517",'x,',',',primavera,control_roya
3,'10-13,','coptra,',','30,'1334279,'48000,',',',primavera,control_roya
4,',','Sucraxil,',','30,'1832938,',',',',primavera,control_roya
5,',','potenzol,',','6,'169400,',',',',primavera,control_roya
6,',',',',',',',',',',',primavera,control_roya
7,'1.2.3,'06-11,'voliam,',','18,'6'483600,'64,'3072000,','13217.150,primavera,control_roya
8,'4-8-7,'06-18,'Amistar,',',"'11,4",'3303150,'canecas,',',',primavera,control_roya
9,'13.10.9,'06-20,'poreuzol,',',"'12,8",'358400,',',',',primavera,control_roya
10,'6.5,',',',',','10'145150,',',',',primavera,control_roya
11,'1,',',',',',',',',',',primavera,control_roya
12,'9,'08.1,'Amistart,'Izabion,'3cancas.,'09115,'374175,'3,'162000,'536175,',primavera,control_roya
13,'7,'08-,'x1,"'""",'beanicas,'1.8+3,'730350,'11,'550000,'1280 350,',primavera,control_roya
14,'8,'08-8,'b,"'""",'6 11,'118+3,'730350,','288000,'1'183500,"'(33'895,559)",primavera,control_roya
15,'1.2,'08.9,"'""","'""","'5 ""","'1,5+2,5",'505 000,','240000,'505000,',primavera,control_roya
16,'5-7,'08-20,'1,'1/,"'15 ""","'4,5+7,5",'1'795000,'15,'720.000,'2'515000,',primavera,control_roya
17,',',',',',',',',',',',primavera,control_roya
18,',',',',',',',',',','38099059,primavera,control_roya
19,',',',',',',',',',',',primavera,control_roya
20,',',',',',',',',',',',primavera,control_roya
21,',',',',',',',',',',',primavera,control_roya
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,control_roya

,LOTES,FECHA,PRODUCTO,P.CARENCIA,P.INGRESO,N. DE LITROS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'076,'01-5,'voliam +,',','14,'48000,'672000,',',',villa_libia,control_roya
1,',','Amistar,',','Canecas,',',','2942000,',villa_libia,control_roya
2,',',',',',','870000,',',',',villa_libia,control_roya
3,',',',','Amis tar,'2.9L,'1'400.000,',',',',villa_libia,control_roya
4,',',',','voliacu,"'4,0 2",'2'270000,',',',',villa_libia,control_roya
5,','16,"'3,6","'6,5",',',',',',',',villa_libia,control_roya
6,'Varios,'04- 17,'voliam-,'captra,',',',',',',',villa_libia,control_roya
7,',"'(3,9)",'Amistar,'surraxil,"'G,S",','3526371,',','4150371,',villa_libia,control_roya
8,',','Isabion-,'potenzul,',',',',',','7'092 371,villa_libia,control_roya
9,',','5.2,'1.3,',',',',',',',villa_libia,control_roya
10,',','13 can,'ecas x48000,'= 62,'4000,',',',',',villa_libia,control_roya
11,',',',',',',',',',',',villa_libia,control_roya
12,','07-,',',',',',',',',',villa_libia,control_roya
13,',',',',',',',',',',',villa_libia,control_roya
14,',',',',',',',',',',',villa_libia,control_roya
15,',',',',',',',',',',',villa_libia,control_roya
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,villa_libia,control_roya

,LOTES,FECHA,PRODUCTO,P.CARENCIA,P.INGRESO,N. DE LITROS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,',','Amis tar,'$,'370.000X,"'24,5",'9005000,',',','9'065000,la_paloma,control_roya
1,',','Isabion,'1006.000,'242500*,"'21,0",'5092500,'Canseen,'72,','5'092500,la_paloma,control_roya
2,',',',','/galon,"'27,5",','0 X,'48000,','3'456000,la_paloma,control_roya
3,',',',"'6,9 galones",',',','3'456,'000,','7'328750,la_paloma,control_roya
4,',',',',',',','7'3287,'so,',',la_paloma,control_roya
5,'Motobomba,'02-27,',',',',',',',','24'942250,la_paloma,control_roya
6,',','Amistar,',','1.2,'291000,'2,'100.000,',',la_paloma,control_roya
7,',','Isabion,',','2L,'140000,',','591000,'25'533250,la_paloma,control_roya
8,',',',',',','431000,',',',',la_paloma,control_roya
9,'01/18,'Varios,'Amistar,',','17.L,'4'925750,',',',',la_paloma,control_roya
10,'05.3,','voliam,',','16.0L,'5'763200,',',',',la_paloma,control_roya
11,',',',','canecas 57,','2736000,',',',',la_paloma,control_roya
12,',',',',',','13424950,',',','38958200,la_paloma,control_roya
13,',',',',',',',',',',',la_paloma,control_roya
14,'06-24,'06-21,',',',','3'360.000,'x70canecon,',',',la_paloma,control_roya
15,'07-8,'07-8,'voliam,',','21L,'7'770000,'1,',',',la_paloma,control_roya
16,',','Amis tar,',',"'19,50",'4'728750,',',',',la_paloma,control_roya
17,',','Aqua Vaqua fer,',','7kg,'238000,',',',',la_paloma,control_roya
18,',','poterzol,',','7 L,'196000,',',',',la_paloma,control_roya
19,',',',',',',"',",',',',',la_paloma,control_roya
20,',',',',','TOTAL,'15382.750,',',','54340.950,la_paloma,control_roya
21,'08.6,','Amistar,',','6L+2L,'1'796.000,','canical =,'20,'57'096.950,la_paloma,control_roya
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,control_roya

--- fertilizacion ---

,LOTES,FECHA,TIPO DE ABONO,DOSIS,BULTOS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO,finca,actividad
0,'7,','Abotekt Nitrabor,'80,"'22,0",'2'860.000,'6,'288000,'3'148000,'19480295,villa_libia,fertilizacion
1,'1,','11 11,'80,"'3,2",'416.000,'1i5,'72000,'488000,'19'968295,villa_libia,fertilizacion
2,'4,','11 11,'80,"'8,0",'1'040000,"'2,0",'96000,'1'136000,'21'104295,villa_libia,fertilizacion
3,',',',',',',',',',',villa_libia,fertilizacion
4,',',',',',',',',',',villa_libia,fertilizacion
5,'2.6,'09.3,'urea t A AP,'60g,'15,'1 950.000,"'2,0",'96000,'2'046000,'23150295,villa_libia,fertilizacion
6,',','/ x /,',',',',',',',villa_libia,fertilizacion
7,',',',',',',',',',',villa_libia,fertilizacion
8,'8,'09.3,"'"" "",'60g""","'5,5",'715000,"'1,0",'48000,'763000,'23913295,NaN,villa_libia,fertilizacion
9,',',',',',',',',',',villa_libia,fertilizacion
10,'Todo: s,'09.24,'thermo- corrector,','114,'3'917.040,'20,'1'000.000,'4917040,'28830335,villa_libia,fertilizacion
11,',',','100g,',',',',',',villa_libia,fertilizacion
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,villa_libia,fertilizacion

,LOTES,FECHA,TIPO DE ABONO,DOSIS,BULTOS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO,finca,actividad
0,'petadora,'07-8,'Thermo-Corrector,'150,'26,'862.264,'6,'288000,'1' 150264,'34801.154,la_paloma,fertilizacion
1,'Rubi 2,'07-9,"'11 ""","'""",'20,'663 280,'6,'288000,'951280,'35 752 434,la_paloma,fertilizacion
2,'Motob,'07-23,"'"" 11",'11,'50,'1'658200,'10,'480000,'2'138200,'37'890 634,la_paloma,fertilizacion
3,'cenicale,'07-10,"', 11","'""",'18,'596952,'4,'192000,'788952,'38679586,la_paloma,fertilizacion
4,'T/ra,'07.11,"'"" 11",'N,'18,'596 952,'4,'192000,'788952,'39'468538,la_paloma,fertilizacion
5,'Batea,'07-12,'11 /,'11,'16,'530624,'3,'1 44000,'674624,'40/43/122,la_paloma,fertilizacion
6,'poroecia,'07-4,'11 11,'11,'53,'1757692,'12,'576000,'2'333692,'42476854,la_paloma,fertilizacion
7,'Danubio,'09.4,"'"" "",'/""",'30,'994920,'9,'432000,'1'426920,'43'903774,NaN,la_paloma,fertilizacion
8,'Rubi1,'07-3,"'11 ""","'""",'35,'1'160 740,'10,'480000,'1'640740,'45'544514,la_paloma,fertilizacion
9,'Guamera,'09-13,"'"" 11","'""",'32,'1'061248,'10,'480000,'1541248,'47085762,la_paloma,fertilizacion
10,'Culebra,'09-3,'11 11,','35,'1'160740,'15,'720 000,'1880740,'48 966.502,la_paloma,fertilizacion
11,',',',',',',',',',',la_paloma,fertilizacion
12,',',',','333,',',',',',la_paloma,fertilizacion
13,','09-23,',','42,'1'392.888,'16,'768000,'2'160-888,'51127.390,la_paloma,fertilizacion
14,'cologure,',','150g,',',',',',',la_paloma,fertilizacion
15,'Motobaniba,'11-6,'Drench 2L,',',','&,'382000,'798.000,'51925390,la_paloma,fertilizacion
16,',','S.HaristH.ca tuss,',',','8 caneean,'414000,',',la_paloma,fertilizacion
17,',','4L +166+16,',',',',',',',la_paloma,fertilizacion
18,',',',',',',',',',',la_paloma,fertilizacion
19,'Danubio,'11-20,'S.Marist r.ea,'4,','1400004 288000,'4,'212000,'640000,'52565.390,la_paloma,fertilizacion
20,',','500 2L/earree,'cameas,','428000,',',',',la_paloma,fertilizacion
21,'peladora,'11.29,'17-0-18-2 + Nitrabor,'120,'22,'2'974400,'198000,','3'172400,'55737.790,la_paloma,fertilizacion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,fertilizacion

,LOTES,FECHA,TIPO DE ABONO,DOSIS,BULTOS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO,finca,actividad
0,'Tanquen,'01-2,'Abotek + Nitrabor,','39,',',','TOTAL,'VALOR,santa_rita,fertilizacion
1,'Taugun,',',',',',',',',',santa_rita,fertilizacion
2,'Corona,',',',',','75,'3'375000,'3'375000,',santa_rita,fertilizacion
3,',',',',',',',',',',santa_rita,fertilizacion
4,'palma amarillah,',',',"'8,5",',',',',',santa_rita,fertilizacion
5,',',',',"'8,0",',',',',',santa_rita,fertilizacion
6,'EDO'S,'01-18,',','24,',',',',',santa_rita,fertilizacion
7,',',',',"'89,5",',','11635000,','15'010.000,santa_rita,fertilizacion
8,',',',',',',',',',',santa_rita,fertilizacion
9,'Tanques,'07-8-12 =,'Thermo,','33.164,',',',',',santa_rita,fertilizacion
10,'Poturos,','correcto,'150,'52,'1790 640,'18,'864000,','265464017664640,santa_rita,fertilizacion
11,',',',',',',',',',',santa_rita,fertilizacion
12,'Corona.P,'08-15,'11 11,'150,'50,'1658200,'16,'784000,'2442.200,'20106.840,santa_rita,fertilizacion
13,'colegurre,'12-14,'17-0-18-2 +Hidronica,'120,'26,'3'484000,',',',',santa_rita,fertilizacion
14,',','2 f 1,',','$9000/buito,'contrato,'234000,'3'718000,'23824840,santa_rita,fertilizacion
15,',',',',',',',',',',santa_rita,fertilizacion
16,',',',',',',',',',',santa_rita,fertilizacion
17,',',',',',',',',',',santa_rita,fertilizacion
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,santa_rita,fertilizacion

,LOTES,FECHA,TIPO DE ABONO,DOSIS,BULTOS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO,finca,actividad
0,','01-17,'Abotek t Nitrabur,'100,'28,'3'640 000,'11 9,'495000,'4'135000,'4'135 000,villa_libia,fertilizacion
1,'3,'01.18,"'it """,'100,'3,'390000,"'2,0",'90000,'480 000,'4'615 000,villa_libia,fertilizacion
2,'4 1,'01-19,"'11 """,'100,'11,'1430.000,'7.0,'315000,'1'745.000,'6'360 000,villa_libia,fertilizacion
3,','01-10,"'"" "",'100""",'5,'650.000,"'2,5",'112500,'762500,'7'122500,NaN,villa_libia,fertilizacion
4,'8,'03-7,'Nitrabor Nitromag,'45,'4,'520 000,"'1,0",'48000,'568000,'7'690500,villa_libia,fertilizacion
5,'8,'02-20,'Fertigo +Rootex,','x,',"'1, 0",'48000,'116 450,'7'806950,villa_libia,fertilizacion
6,',','3L 115kg,'165507,"'34600(1,5",'5) 68450,"'1,0",'110450,',',villa_libia,fertilizacion
7,'2,'03-18,'Nitrabort Nitroniag,'45,',',',',',',villa_libia,fertilizacion
8,',','/ + 1,',"'9,5",'1235.000,"'3,0",'144000,'1379.000,'9185950,villa_libia,fertilizacion
9,'6,'04-29,'Nitrabor Nitromag,'45,"'1,0",'150000,"'1,0",'48000,'198000,'9'383950,villa_libia,fertilizacion
10,',',',',',',',',',',villa_libia,fertilizacion
11,'8,'05-3,'Drench,'1 cause,'ea,'414.123,"'2,0210",'690000,'510123,'9894073,villa_libia,fertilizacion
12,'2,'05-9,'runch.,'3 can,'eas.,'1'581369,"'G,Ong",'2.88000,'1869.369,'11763443,villa_libia,fertilizacion
13,',','32-22-2-17,',',',',',',',villa_libia,fertilizacion
14,'8,'07.10,'Then 1 mo corrector,'150,"'13,8",'457663,'3,'144000,'601.663,'12365105,villa_libia,fertilizacion
15,'6,'07 - 11,"'11 """,'11,"'3,0",'99 492,'1,'48000,'147.492,'12512597,villa_libia,fertilizacion
16,'7,'07-17,"'"" 11",'11,'42.0,'1392888,'7,'336000,'1'728.888,'14241485,villa_libia,fertilizacion
17,'1,'07-19,"'"" "",'11""","'6,0",'198984,'115,'72000,'270984,'14512469,NaN,villa_libia,fertilizacion
18,'3,'08-3,"'11 """,'11,"'5,0",'165820,"'2,0",'96000,'261820,'14 774 289,villa_libia,fertilizacion
19,'4,'08 - 9,"'"" 11",'11,"'19,2",'636749,'410,'192000,'828.749,'15'603038,villa_libia,fertilizacion
20,'6-5,'08-16,"'"" "",'""","'16,2",'537256,'410,'192000,'729257,'16 332295,NaN,villa_libia,fertilizacion
21,'2,'12-18,'17-6-18-2+ 14-0-0,'80,"'22,0",',',',',',villa_libia,fertilizacion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,villa_libia,fertilizacion

,LOTES,FECHA,TIPO DE ABONO,DOSIS,BULTOS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO,finca,actividad
0,'Libro Pubi,'01-,"'"" 11",'100,'14,'1960.000,'6,'270000,'2'230000,'VALOR 2'230000,la_paloma,fertilizacion
1,'1,'01-,"'"" 11","'""",'27,'3780.000,'14,'630000,'4'410.000,'6'640 000,la_paloma,fertilizacion
2,'Rubi 2,'01-,"'"" 11","'""",'14,'j'900.000,'8,'360 000,'2'320000,'8'960.000,la_paloma,fertilizacion
3,'porton,'01-,"'11 """,'h,'32,'4480.000,'15,'675000,'5'155 000,'14'11 5000,la_paloma,fertilizacion
4,'Guamera,'01-23,'11 11,"'""",'25,'3'500.000,'13,'585000,'4085000,'18'200.000,la_paloma,fertilizacion
5,'tomatora,'01-25,'11 11,"'1,",'12,'1 680 000,'5,'225000,'1'905000,'20 105.000,la_paloma,fertilizacion
6,'Cenicale,'02-4,"'"" "",'""""""",'12,'1680.000,'6,'270000,'1'950000,'22'055000,NaN,la_paloma,fertilizacion
7,'Caracol,'01-,"'"" 11","'""",'9,'1'260.000,'6,'270000,'1'530000,'23'585000,la_paloma,fertilizacion
8,'Batea,'01-29,"'"" "",'11""",'9,'1'200000,'6,'270000,"'1,530000",'25/15000,NaN,la_paloma,fertilizacion
9,'Motob,'02 5,"'"" "",'""""""",'18,'2'520.000,'10,'450000,'2'970000,'28'085000,NaN,la_paloma,fertilizacion
10,'lote 5,',',',',',',',',',la_paloma,fertilizacion
11,'Danubio,'03-4,'urea,',"'2,5",'250.000,'2.0,'96.000,'346000,'28431.000,la_paloma,fertilizacion
12,'Ladera,'02-23,'Aburek + Nitrabur,'100,'12,'j'680.000,'6,'288000,'968000,'30'399000,la_paloma,fertilizacion
13,'Ladera,'02.21,'URIA,'50,'2,'200.000 91 Kg,'2,'96000,'296000,'30'695000,la_paloma,fertilizacion
14,',',',',','aquater,',',',',la_paloma,fertilizacion
15,'Danubio,'05-26,'Dreach verdadero + Ry,'wgen,'+ Rootex,'Fertigrot 2L,',',',',la_paloma,fertilizacion
16,',','37500 +,'1000,'t 207800,'+99378+,',',',',la_paloma,fertilizacion
17,',','(125g),"'0,5L",'2L,',',','(963.356),',la_paloma,fertilizacion
18,',',',',','385.078,"'2,0",'96000,'867.356,'31058356,la_paloma,fertilizacion
19,',',',',','percaneca,'2) 771356,','9118000,',la_paloma,fertilizacion
20,'Danubio,'05-24,'10-26-26-0,'309,"'5,5",'660.000,"'3,0",'144.000,'804.000,'32462.356,la_paloma,fertilizacion
21,',',',',','348178,"'3,0",'144000,'118853X,'33'650.890,la_paloma,fertilizacion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,fertilizacion

,LOTES,FECHA,TIPO DE ABONO,DOSIS,BULTOS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO,finca,actividad
0,'11,'01 - 5,'Verdadoro + Rootex,',','141000,'2,'92000,'233000,'233000,primavera,fertilizacion
1,'6,'01.10,'Abotek + Nitrabor,'100,'25,'4000.000,'9,'405.000,'4'405000,'4'638000,primavera,fertilizacion
2,'5,'01.11,"'"" 11",'100,"'20,5",'3'280 000,"'6,5","'292,500",'3'572500,'8'210 500,primavera,fertilizacion
3,'1A,'02.8,'Nitroma +Nitrabor,'50,"'8,0","'1,200.000","'8,0",'384.000,'1'584000,'9'894500,primavera,fertilizacion
4,'11,'02.21,'1 x 1,'50,'8.0,'1'200.000,"'7,0",'336000,'1'536000,'11330500,primavera,fertilizacion
5,',',',',',',',',',',primavera,fertilizacion
6,'11,'05-2,'Drench,',','471844,'2,'96000,'557844,'11 888344,primavera,fertilizacion
7,'I,'05-9,'Drench,',','471 844,'3,'144000,'615844,'12'504/88,primavera,fertilizacion
8,'11,'05-27,'Foliar,',','210 065,'2,'98000,'308065,'12812253,primavera,fertilizacion
9,'1,'05.28,'Foliar,',','210 065,'3,'147000,'357063,'13109318,primavera,fertilizacion
10,',','1,',',',',',',',primavera,fertilizacion
11,'1,'08.8,'Abotekt Nitrabor,'80,'12,'1 680.000,'10,'480000,'2'160000,'15'329318,primavera,fertilizacion
12,'11,'08.8,','80,'13,'1 820 000,'8,'408000,'2'228000,'17'557.318,primavera,fertilizacion
13,',',',',',',',',',',primavera,fertilizacion
14,'Todos,'06.24,'Thermo corrector,','406,',',',',',primavera,fertilizacion
15,','08- 8,'0-3.0-22-17,','33.164,'13464.584,'140,'6744.000,'20208.584,'37765.902,primavera,fertilizacion
16,',',',','x Bulto,',',',',',primavera,fertilizacion
17,'1,'12.20,'17-6-18-2 Nitrabor,'120,'18B,'2'412.000,','171.000,'2'583000,'40348902,primavera,fertilizacion
18,'1-8-3-4,','Hidronica,',','9500/Bulto,',',',',primavera,fertilizacion
19,',',',',',',',',',',primavera,fertilizacion
20,',',',',',',',',',',primavera,fertilizacion
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,fertilizacion

--- recoleccion ---

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'01-5,'3380,'58,'3402000,'3380,'3'402.000,'58,'17,'16,'17,'16,primavera,recoleccion
1,'01-12,'5035,'117,'4531500,'8415,'7'933.500,'175,'25,'36,'42,'52,primavera,recoleccion
2,'01-19,'4003,'69,'3'602700,'12418,'11'536200,'244,'20,'24,'62,'76,primavera,recoleccion
3,'02-9,'7058,'132,'6'352200,'19476,'17'888400,'376,'36,'12.,'98,'88,primavera,recoleccion
4,'02-16,'4963,'81,'4466700,'24439,'22'355100,'457,'25,'20,'123,'108,primavera,recoleccion
5,'02-23,'6364,'103,"'5'727,600",'30803,'28'082700,'560,'32,'32,'155,'140,primavera,recoleccion
6,'03-1,'7326,'114,'6'593400,'38129,'34'676100,'674,'37,'28,'192,'168,primavera,recoleccion
7,'03-8,'6478,'99,'5'830200,'44607,'40'506.300,'773,'33,'6,'225,'174,primavera,recoleccion
8,'03-15,'4110,'81,'3699000,'48714,'44 205 300,'854,'21,'4,'246,'178,primavera,recoleccion
9,'03-22,'3129,'56,"'2,716.100",'51843,'46'921 400,'910,'16,'4,'262,'182,primavera,recoleccion
10,'03-29,'3470,'52,'3123000,'55313,'50'044400,'962,'17,'32,'279,'214,primavera,recoleccion
11,'04-5,'11536,'142,'10382400,'66.849,'60 426 800,'1104,'59,'16,'338,'230,primavera,recoleccion
12,'04-12,'12735,'146,'11'431500,"'79,584",'71858300,'1250,'65,'24,'403,'254,primavera,recoleccion
13,'04-19,'7632,'88,'6'488800,'87216,'78'347100,'1338,'39,'12,'442,'266,primavera,recoleccion
14,'04-26,'9072,'110,'8155800,'96288,'86 502900,'1448,'46,'28,'488,'294,primavera,recoleccion
15,'05-3,'5844,'91,'5259600,'102132,'91.762500,'1539,'30,'4,'518,'298,primavera,recoleccion
16,'05-10,'2438,'48,'2 194200,'104570,'93956700,'1577,'12,'8,'530,'306,primavera,recoleccion
17,'05-17,'1744,'39,'1'569.600,'106314,'95'526300,'1616,'8,'36,'538,'342,primavera,recoleccion
18,'05-24,'1976,'37,'1'778400,'108290,'97304700,'1653,'10,'4,'548,'3 46,primavera,recoleccion
19,'05.31,'2465,'43,'2'218500,'110.755,'99'523200,'1696,'12,'28,'560,'374,primavera,recoleccion
20,',',',',',',',',',',',primavera,recoleccion
21,'TOTAL,',',',',',',',',',',primavera,recoleccion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'06-7,'329,'5,'296 100,'19289,'17360100,'306,'1,'-,'89,'426,villa_libia,recoleccion
1,'00-14,'207,'4,'186 300,'19496,'17'546400,'310,'1,'24,'89,'450,villa_libia,recoleccion
2,'07-26,'123,'5,'2927.600,'19619,'17'774000,'315,'-,'25,','475,villa_libia,recoleccion
3,'08-2,'127,'5,'232400,'19746,'18006400,'320,'-,','89 9'0,'475,villa_libia,recoleccion
4,'08-9,'228,'5,'308000,'19974,'18'314400,'325,'1,'-,',',villa_libia,recoleccion
5,'08-16,'320,'10,'384000,'20294,'18'698400,'335,'1,'20,'91,'495,villa_libia,recoleccion
6,'08-23,'205,'5,'326000,'20499,'19024400,'340,'1,'-,'92 93,'495 527,villa_libia,recoleccion
7,'08- 30,'376,'8,'536000,'20 885,'19'560400,'348,'1,'32 -,'94,'527,villa_libia,recoleccion
8,'09-6,'238,'5,'318000,'21113,'19 878400,'353,'1,',','547,villa_libia,recoleccion
9,'09-14,'315,'5,'395000,'21428,'20'273400,'358,'1,'20 8,'95,'555,villa_libia,recoleccion
10,'09-20,'1053,'17,'1158300,'22481,'21'431700,'375,'5,','100,'559,villa_libia,recoleccion
11,'09-27,'5038,'56,'5'541 800,'27519,'26'973500,'431,'25,'4 -,'125,'559,villa_libia,recoleccion
12,'10.4,'2407,'2.5,'2'647 700,'29926,'29'621200,'456,'12,'8,'137,'567,villa_libia,recoleccion
13,'10-11,"'1653,",'24,'1'818300,'31579,'31439500,'480,'8,','145,'596,villa_libia,recoleccion
14,'10-18,'926,'17,'1'018600,'32505,'32'458.100,'497,'4,'29 -,'149,'596,villa_libia,recoleccion
15,'10 - 25,'1183,'22,'1'301.300,'33688,'33 759 400,'519,'6,'10,'155,'606,villa_libia,recoleccion
16,'11 - 1,'1428,'17,'1'570800,'35116,'35 330.200,'536,'7,','162,'638,villa_libia,recoleccion
17,'11 - 8,'1342,'20,'1'476.200,'36458,'36 806.400,'556,'6,'32 -,'108,'638,villa_libia,recoleccion
18,'11.15,'1358,'17,'1'493700,'37816,'38'300.100,'573,'7,','175,'638,villa_libia,recoleccion
19,'11 - 22,'1361,'16,'1 497100,'39177,'39797.200,'589,'7,'-,'182,'638,villa_libia,recoleccion
20,'11-29,'581,'10,'639100,'39758,'40'436.300,'599,'3,'-00,'185,',villa_libia,recoleccion
21,',',',',',',',',',',',villa_libia,recoleccion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,villa_libia,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'12-6,'451,'5,'496.100,'40209,'40'932.400,'604,'2,'12,'187,'650,villa_libia,recoleccion
1,'12.13,'387,'5,'425700,'40596,'41358100,'609,'2,'-,'189,'650,villa_libia,recoleccion
2,'12.20,'194,'5,'213400,'40790,'41571.500,'614,'1,'-,'190,'650,villa_libia,recoleccion
3,',',',',',',',',',',',villa_libia,recoleccion
4,',',',',',',',','BUL TOS,'= =206,',villa_libia,recoleccion
5,',',',',',',',','@e.p.s,'=666,',villa_libia,recoleccion
6,',',',',',',',',',',',villa_libia,recoleccion
7,',',',',',',',','350,'gramos xd.,'bol,villa_libia,recoleccion
8,',',',',',',',',',',',villa_libia,recoleccion
9,',',',',',',',',',',',villa_libia,recoleccion
10,',',',',',',',',',',',villa_libia,recoleccion
11,',',',',',',',',',',',villa_libia,recoleccion
12,',',',',',',',',',',',villa_libia,recoleccion
13,',',',',',',',',',',',villa_libia,recoleccion
14,',',',',',',',',',',',villa_libia,recoleccion
15,',',',',',',',',',',',villa_libia,recoleccion
16,',',',',',',',',',',',villa_libia,recoleccion
17,',',',',',',',',',',',villa_libia,recoleccion
18,',',',',',',',',',',',villa_libia,recoleccion
19,',',',',',',',',',',',villa_libia,recoleccion
20,',',',',',',',',',',',villa_libia,recoleccion
21,'TOTAL,',',',',',',',',',',villa_libia,recoleccion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,villa_libia,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'01 - 5,'359,'11,'359000,'359,'359000,'11,'1,'29,'1,'29,santa_rita,recoleccion
1,'01 - 12,'422,'10,'422000,'781,'781000,'21,'2,'-,'3,'29,santa_rita,recoleccion
2,'01 - 19,'387,'10,'387000,'1108,'1'168000,'31,'2,'-,'5,'29,santa_rita,recoleccion
3,'02 - 9,'516,'16,'516000,'1684,'1'684000,'47,'2,'23,'7,'52,santa_rita,recoleccion
4,'02-16,'464,'10,'464000,'2148,'2'1 48000,'57,'2,'12,'9,'64,santa_rita,recoleccion
5,'02 - 23,'1020,'20,'1'020 000,'3168,'3.168000,'77,'5,'-,'14,'04,santa_rita,recoleccion
6,'03.1,'434,'15,'434000,'3602,'3'602000,'92,'2,'6,'16,'70,santa_rita,recoleccion
7,'03.8,'979,'19,'979000,'4581,'4'581000,'111,'4,'35,'20,'105.,santa_rita,recoleccion
8,'03-15,'806,'20,'806000,'5387,'5'387000,'131,'4,'-,'24,'105,santa_rita,recoleccion
9,'03 - 22,'751,'15,'751000,'6138,'6'138000,'146,'3,'35,'27,'140,santa_rita,recoleccion
10,'03-29,'1278,'18,'1278000,'7416,'7'416 000,'104,'6,'15,'33,'155,santa_rita,recoleccion
11,'04.5,'3651,'41,'3'651000,'11007,'11'067000,'205,'18,'9,'51,'104,santa_rita,recoleccion
12,'04 - 12,'4091,'53,'4091000,'15158,'15'158000,'258,'20,'17,'71,'181,santa_rita,recoleccion
13,'04-19,'2199,'44,'2'199000,'17357,'17'357000,'302,'11,'-,'82,'181,santa_rita,recoleccion
14,'04-26,'707,'14,'707000,'18064,'18'064000,'316,'3,'21,'85,'202,santa_rita,recoleccion
15,'05 - 3,'740,'16,'740000,'18804,'18'804 000,'332,'3,'14,'88,'216,santa_rita,recoleccion
16,'05 - 10,'681,'15,'681000,'19485,'19'485000,'1013,'3,'28,'91,'244,santa_rita,recoleccion
17,'05 - 17,'395,'10,'395000,'19880,'19'880000,'1023,'2,'-,'93,'244,santa_rita,recoleccion
18,'05.22,'356,'10,'356000,'20236,'20'236000,'1033,'1,'11,'94,'255 .,santa_rita,recoleccion
19,'06.28,'181,'9,'217200,'20417,'20'453200,'1042,'1,'-,'9 5,'255,santa_rita,recoleccion
20,','324,'10,'388800,'20741,'20'842000,'1052,'1,'25,'96,'280,santa_rita,recoleccion
21,'07-19,',',',',',',',',',',santa_rita,recoleccion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,santa_rita,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'11 1,'16557,'192,'18'212.700,'269739,'277'378.300,'3821,'85,'32,'1369,'780,primavera,recoleccion
1,'11 -8,'13315,'166,'14646500,'283054,'292'024.800,'3987,'69,'-,'1438,'780,primavera,recoleccion
2,'11-15,'14368,'167,'15704800,'297.422,'307 729.600,'4154,'85,'16,'1523,'796,primavera,recoleccion
3,'11-22,'18395,'205,'20234500,'315817,'327934100,'4359,'94,'32,'1617,'828,primavera,recoleccion
4,'11-29,'10053,'146,'1j058300,'325870,'338'992400,'4505,'52,'32,'1669,'860,primavera,recoleccion
5,'12-6,'11072,'145,'12'179200,'336942,'351 171 600,'4650,'57,'12,'1726,'872,primavera,recoleccion
6,'12-13,'8390,'133,'9229000,'345332,'360'400.600,'4733,'43,'8,'1769,'880,primavera,recoleccion
7,'12-20,'9748,'148,'10785900,'355080,'371 186 500,'4931,'50,'8,'1819,'888,primavera,recoleccion
8,',',',',',',',',',',',primavera,recoleccion
9,',',',',',',',',',',',primavera,recoleccion
10,',',',',',',',','Bultus=,'1841,',primavera,recoleccion
11,',',',',',',',','@eps,'5950,',primavera,recoleccion
12,',',',',',',',',',',',primavera,recoleccion
13,',',',',',',',','156 000,'arb.,'prod.,primavera,recoleccion
14,',',',',',',',',',','arbot,primavera,recoleccion
15,',',',',',',',','477,'gramor,',primavera,recoleccion
16,',',',',',',',',',',',primavera,recoleccion
17,',',',',',',',',',',',primavera,recoleccion
18,',',',',',',',',',',',primavera,recoleccion
19,',',',',',',',',',',',primavera,recoleccion
20,',',',',',',',',',',',primavera,recoleccion
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'01-,'359,'11,'359000,'359,'359000,'11,'1,'29,'1,'29,santa_rita,recoleccion
1,'01-12,'422,'10,'422000,'781,'781000,'21,'2,'-,'3,'29,santa_rita,recoleccion
2,'01-19,'387,'10,'387000,'1168,'1408000,'31,'2,'-,'5,'29,santa_rita,recoleccion
3,'02-9,'516,'16,'510000,'1684,'1'684000,'47,'2,'23,'2,'52,santa_rita,recoleccion
4,'02-16,'464,'10,'464000,'2148,'2'1 48000,'57,'2,'12,'9,'04,santa_rita,recoleccion
5,'02.23,'1020,'20,'1'020000,'3168,'3'168000,'77,'5,'-,'14,'64,santa_rita,recoleccion
6,'03.1,'434,'15,'434000,'3602,'3'602000,'92,'2,'6,'16,'70,santa_rita,recoleccion
7,'03.8,'979,'19,'979000,'4581,'4'581000,'111,'4,'35,'20,'105.,santa_rita,recoleccion
8,'03-15,'806,'20,'806000,'5387,'5'387000,'131,'4,'-,'24,'105,santa_rita,recoleccion
9,'03-22,'751,'15,'751000,'6138,'61/38000,'146,'3,'35,'27,'140,santa_rita,recoleccion
10,'03.29,'1278,'18,'1278000,'7416,'7'416000,'104,'6,'15,'33,'155,santa_rita,recoleccion
11,'04.5,'3651,'41,'3'651000,'11007,'11'067000,'205,'18,'9,'51,'104,santa_rita,recoleccion
12,'04-12,'4091,'53,'4'091000,'15158,'15'158000,'258,'20,'17,'71,'181,santa_rita,recoleccion
13,'04-19,'2199,'44,'2'199000,'17357,'17'357000,'302,'11,'-,'82,'181,santa_rita,recoleccion
14,'04-26,'707,'14,'707000,'18064,'18'064000,'316,'3,'21,'85,'202,santa_rita,recoleccion
15,'05-,'740,'16,'740000,'18804,'18'804 000,'332,'3,'14,'88,'216,santa_rita,recoleccion
16,'05-10,'681,'15,'681000,'19485,'19'485000,'1013,'3,'28,'91,'244 244,santa_rita,recoleccion
17,'05-17,'395,'10,'395000,'19880,'19'880000,'1023,'2,'- 11,'93,'255,santa_rita,recoleccion
18,'05.22,'356,'10,'356000,'20236,'20'236000,'1033,'1,','94,'255,santa_rita,recoleccion
19,'06.28,'181,'9,'217200,'20417,'20'453200,'1042,'1,'- 25,'95 96,'280,santa_rita,recoleccion
20,','324,'10,'388800,'20741,'20'842000,'1052,'1,',',',santa_rita,recoleccion
21,'07-19 TOTAL,',',',',',',',',',',santa_rita,recoleccion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,santa_rita,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'07-26,'590,'15,'708000,'21331,'21'550000,'1007,'3,'-,'99,'280,santa_rita,recoleccion
1,'08-2,'753,'15,'9.03600,'22084,'22'453.600,'1082,'3,'32,'102,'312,santa_rita,recoleccion
2,'08.9,'954,'20,'954000,'23038,'23'407.600,'1102,'4,'31,'106,'343,santa_rita,recoleccion
3,'08 - 16,'866,'25,'866000,'23904,'24'273600,'1127,'4,'13,'110,'356,santa_rita,recoleccion
4,'08-23,'927,'25,'927000,'24831,'25'200.600,'1152,'4,'25,'114,'381,santa_rita,recoleccion
5,'08.30,'1142,'25,'1'142000,'25973,'26'342.600,'1177,'5,'28,'119,'409,santa_rita,recoleccion
6,'09-6,'2426,'37,'2'426000,'28399,'28 768.600,'1214,'12,'4,'131,'4/3,santa_rita,recoleccion
7,'09 - 13,'6420,'65,'6'420000,'34819,'35 188600,'1279,'32,'20,'163,'433,santa_rita,recoleccion
8,'09-20,'5208,'50,'5728800,'40027,'40917400,'1329,'26,'17,'189,'450,santa_rita,recoleccion
9,'09-27,'9005,'87,'9'905500,'49032,'50 822 900,'1416,'45,'27,'234,'477,santa_rita,recoleccion
10,'10 - 4,'11558,'118,'12'713800,'60590,'52036700,'1534,'58,'25,'292,'502,santa_rita,recoleccion
11,'10-10,'7389,'76,'8127900,'67979,'60/144.600,'1610,'37,'19,'329,'52/,santa_rita,recoleccion
12,'10-18,'3973,'43,'4370300,'71952,'64534.900,'1653,'20,'-,'349,'52/,santa_rita,recoleccion
13,'10 - 25,'2415,'37,'2656500,'74367,"'67,191.400",'1690,'12,'10,'361,'531,santa_rita,recoleccion
14,'11-1,'2656,'29,'1'821 600,'76023,'69013.000,'1719,'8,'16,'369,'547,santa_rita,recoleccion
15,'11-8,'2014,'35,'2'215400,'78037,'71228400,'1754,'10,'8,'379,'555,santa_rita,recoleccion
16,'11-15,'2001,'35,'2'201.100,'80038,'73429500,'1789,'10,'6,'389,'561,santa_rita,recoleccion
17,'11 - 22,'773,'14,'860 300,'80811,'74289.800,'1803,'4,'0,'393,'561,santa_rita,recoleccion
18,'11-29,'644,'15,'708400,'81455,'74998200,'1818,'3,'9,'396,'570,santa_rita,recoleccion
19,'12-6,'452,'10,'497200,'81907,'75'495.400,'1828,'2,'10,'398,'580,santa_rita,recoleccion
20,'12 - 13,'177,'4,'194700,'82084,'75690100,'1832,'1,'-,'399,'580,santa_rita,recoleccion
21,'TOTAL/2-20,'167,'9,'441.000,'82251,'76 /31.100,'1841,'1,'-,'400,'580,santa_rita,recoleccion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,santa_rita,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'01- 5,'2030,'37,','A. kilos,'A.valor,'A.jor,'bultos,'kilos,',',la_paloma,recoleccion
1,'01-12,'1308,'34,'1827000,'2030,'1827000,'37,'10,','A.bultos,'A.kilos,la_paloma,recoleccion
2,'0-19,'2454,'57,'1 177.000,'3338,'3'004000,'71,'6,'23 30,'10,'23,la_paloma,recoleccion
3,'02-9,'1390,'38,'2'208000,'5792,'5'032000,'128,'12,','16,'53,la_paloma,recoleccion
4,'02.16,'2053,'51,'1251000,'7181,'6283000,'166,'7,'26 6,'28,'79,la_paloma,recoleccion
5,'02.23,'3356,'52,'1'851.300,'9235,'8134.300,'217,'10,','35,'35,la_paloma,recoleccion
6,'03-1,'1140,','3'020400,'12591,'11 154 700,'269,'17,'23 12,'45,'108,la_paloma,recoleccion
7,'03.8,'1198,'32 30,'1'026000,'13731,'12'180700,'301,'5,'35,'62,'120,la_paloma,recoleccion
8,'03 - 15,'506,'10,'1'358200,'14929,'13'538 900,'331,'6,'7,'67,'155,la_paloma,recoleccion
9,'03.22,'1957,','455400,'15435,'13'994300,'341,'2,'24,'73,'162,la_paloma,recoleccion
10,'03-27,'1745,'45,'1'761300,'17392,'15755600,'386,'10,'-,'75 85,'186,la_paloma,recoleccion
11,'04-5,'4568,'54,'1570500,'19/37,'17326100,'440,'9,'-,'94,'186,la_paloma,recoleccion
12,','2895,'82,'4'301200,'23705,'21'717300,'522,'23,'20,','186 206,la_paloma,recoleccion
13,'04-12,','50,'2'865500,'26600,'24'582 800,'572,'15,'-,'117,',la_paloma,recoleccion
14,'04-19,'1849,'25,'1864000,'28449,'26'446900,'597,'9,'20,'132 141,'206 226,la_paloma,recoleccion
15,'04-26,'2082,'35,'2'153800,'30531,'28'600700,'632,'10,'28,'151,'254,la_paloma,recoleccion
16,'05-3,'1926,'35,'1'733000,'32457,'30333700,'667,'10,'-,'101,'254,la_paloma,recoleccion
17,'05-10,'1417,'35,'1'275 300,'33874,'31'609000,'702,'7,'-,'168,'254,la_paloma,recoleccion
18,'05-17,'1144,'23,'1'029600,'35018,'32638600,'725,'5,'28,'173,'282,la_paloma,recoleccion
19,'05-24,'1203,'25,'1'082700,'36221,'33 721300,'750,'6,'8,'179,'290,la_paloma,recoleccion
20,'06-12,'145,'6,'288000,'36366,'34009300,'756,'1,'-,'180,'290,la_paloma,recoleccion
21,'06.21,'603,'25,'795600,'37029,'34'804 900,'781,'3,'17,'183,'307,la_paloma,recoleccion
22,'TOTAL,',',',',',',',',',',la_paloma,recoleccion
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'07-26,',','565 200,'37500,'35'370.100,'803,'2,'12,',',la_paloma,recoleccion
1,'08.2,'838,'30,'1'318000,'38338,'36'688 100,'833,'4,'7,'185 189,'319 326,la_paloma,recoleccion
2,'08-9,'1098,'35,'1658000,'39436,'38'346.100,'868,'5,'12,'194,'331,la_paloma,recoleccion
3,'08-16,'1440,'48,'2208000,'40876,'40'554100,'916,'7,'-,'201,'331,la_paloma,recoleccion
4,'08.23,'2082,'55,'2'962000,'42958,'43'516 100,'971,'10,'-,'211,'331,la_paloma,recoleccion
5,','1377,'40,'2'170.000,'44335,'45686100,'1011,'6,'35,'2107,'366,la_paloma,recoleccion
6,'08.30,'2872,'73,'4040000,'47207,'49 726100,'1084,'14,'13,'231,'379,la_paloma,recoleccion
7,'09-6,'2855,'72,'4'007.000,'50062,'53.733.100,'1156,'14,'10,'245,'389,la_paloma,recoleccion
8,'09-13,'4835,'115,'6'675000,'54897,'60'408.100,'1271,'24,'5,'269,'394,la_paloma,recoleccion
9,'09-20,'10465,'140,'11'511.500,'65362,'71991600,'1411,'52,'9,'321,'403,la_paloma,recoleccion
10,'09-27,'14.215,'173,'15 636500,"'79,577",'87556100,'1584,'73,'12,'394,'415,la_paloma,recoleccion
11,'10-5,'16.299,'250,'17928900,'95876,'105'485000,'1834,'84,'-,'478,'415,la_paloma,recoleccion
12,'10-11,'21720,'235,'23792000,'117596,'129277000,'2069,'112,'-,'590,'415,la_paloma,recoleccion
13,'10-18,'26307,'245,'28'937 700,'143903,'158'214700,'2314,'135,'28,'725,'443,la_paloma,recoleccion
14,'10-25,'18095,'231,'19 827 000,'161998,'178'041700,'2545,'93,'12,'818,'455,la_paloma,recoleccion
15,'11-1,'15/37,'180,'16'650700,'177135,'194692400,'2725,'78,'-,'896,'455,la_paloma,recoleccion
16,'11-8,'12823,'185,"'14'105,300",'189958,'208797700,'2910,'66,'5,'962,'460,la_paloma,recoleccion
17,'11-15,'18229,'180,'20'051900,'208187,'228'849600,'3090,'94,'0,'1056,'460,la_paloma,recoleccion
18,'11-22,'15756,'172,'17'333600,'223943,'246183200,'3262,'81,'10,'1137,'470,la_paloma,recoleccion
19,'11.29,'10.493,'115,'11542300,'234436,'257'725500,'3377,'53,'30,'1190,'500,la_paloma,recoleccion
20,'12-6,'6467,'105,'7'113700,'240903,'264839200,'3483,'33,'13,'1223,'530,la_paloma,recoleccion
21,'TOTAL/2-14,'5918,'45,'6509800,'246821,"'271349000,",'3528,'30,'20,'1253,'550,la_paloma,recoleccion
22,'12-20,'6438,'85,'7'801800,'253259,'279150.800,'3613,'33,'8,'1286,'558,la_paloma,recoleccion
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'06-7,'2143,'45,'1928700,'112898,'101451900,'1741,'11,'-,'571,'374,primavera,recoleccion
1,'06-14,'1403,'40,'1403000,'114301,"'102,854900",'1781,'7,'8,'578,'382,primavera,recoleccion
2,'06-21,'888,'35,'1'065 600,'115189,'103 920500,'1816,'4,'2,'582,'384,primavera,recoleccion
3,'06 - 28,'694,'32,'832800,'115883,'104'753600,'1848,'3,'20,'585,'40X,primavera,recoleccion
4,'07-5,'592,'26,'710400,'116475,'105 463 700,'1874,'3,'-,'588,'404,primavera,recoleccion
5,'07.12,'497,'20,'596400,'116972,'106 060 100,'1894,'2,'20,'590,'424,primavera,recoleccion
6,'07-19,'343,'24,'715000,'117315,'106 135700,'1918,'1,'28,'591,'452,primavera,recoleccion
7,'07-26,'701,'24,'1193200,'118016,'107 328900,'1942,'3,'24,'594,'476,primavera,recoleccion
8,'08.2,'1274,'36,'2'024800,'119290,'109 353 700,'1978,'6,'20,'600,'496,primavera,recoleccion
9,'08.9,'2491,'57,'3'318000,'121 781,'112'671.700,'2035,'12,'32,'612,'528,primavera,recoleccion
10,'08-16,'3197,'87,'4'538000,'124978,'117209.700,'2122,'16,'16,'628,'544,primavera,recoleccion
11,'08-23,'3288,'57,'$4'130.000,'128266,'121 339 700,'2179,'16,'36,'644,'580,primavera,recoleccion
12,'08.30,'2189,'54,'2'978000,'130455,'124 317 700,'2233,'11,'8,'655,'588,primavera,recoleccion
13,'09-6,'2272,'59,'3126000,'132727,'127'443 700,'2292,'11,'28,'666,'616,primavera,recoleccion
14,'09.14,'4062,'78,'4'062 000,'136789,'131505.700,'2370,'21,'16,'687,'632,primavera,recoleccion
15,'09-20,'7491,'118,'8263000,'144280,'139768700,'2488,'38,'24,'725,'656,primavera,recoleccion
16,'09-27,'16036,'197,'17676600,'160316,'157445300,'2685,'82,'24,'807,'680,primavera,recoleccion
17,'10-5,'24390,'244,'26'829 000,'184706,'184274300,'2929,'125,'28,'932,'708,primavera,recoleccion
18,'10-11,'28802,'284,'31682200,'213508,'215956500,'3213,'148,'20,'1080,'728,primavera,recoleccion
19,'10 - 18,'24445,'270,'20'777300,'237953,'242 733800,'3483,'126,'-,'1206,'728,primavera,recoleccion
20,'10-25,'15229,'146,'16431800,'253/82,'259105600,'3629,'78,'20,'1284,'748,primavera,recoleccion
21,'TOTAL,',',',',',',',',',',primavera,recoleccion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primavera,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'01 - 5,'320,'10,'288000,'320,'288000,'10,'1,'24,'1,'24,villa_libia,recoleccion
1,'01.12,'340,'7,'306000,'660,'594000,'17,'1,'28,'2,'52,villa_libia,recoleccion
2,'01.19,'367,'7,'330300,'1027,'924300,'24,'1,'36,'3,'88,villa_libia,recoleccion
3,'02-9,'666,'15,'599400,'1693,'j'523 700,'39,'3,'16,'6,'104,villa_libia,recoleccion
4,'02 - 16,'593,'16,'533700,'2286,'2'057 400,'55,'3,'-,'9,'104,villa_libia,recoleccion
5,'02 - 23,'500,'10,'450000,'2786,'2'507.400,'65,'2,'20,'11,'124,villa_libia,recoleccion
6,'03 - 1,'509,'10,'458 100,'3295,'2'965500,'75,'2,'24,'13,'148,villa_libia,recoleccion
7,'03-8,'865,'19,'778500,'4160,'3' 744000,'94,'4,'16,'17,'104,villa_libia,recoleccion
8,'03.15,'696,'11,'026400,'4856,'4'370400,'105,'3,'20,'20,'184,villa_libia,recoleccion
9,'03.22,'551,'10,'495900,'5407,'4'806 300,'115,'2,'32,'22,'216,villa_libia,recoleccion
10,'03-27,'421,'9,'378900,'5828,'5'245 200,'124,'2,'4,'24,'220,villa_libia,recoleccion
11,'04-5,'2003,'24,'1802700,'7831,'7'047900,'148,'10,'12,'34,'232,villa_libia,recoleccion
12,'04-12,'3198,'41,'2'878200,'11029,'9'926100,'189,'16,'20,'50,'252,villa_libia,recoleccion
13,'04-19,'2748,'30,'2'473200,'13777,'12' 399 300,'219,'14,'4,'04,'256,villa_libia,recoleccion
14,'04-26,'2278,'30,'2'050200,'16055,'14'449 500,'249,'11,'28,'75,'284,villa_libia,recoleccion
15,'05-3,'12.12,'20,'1'090.800,'17267,'15'540300,'269,'6,'10,'81,'294,villa_libia,recoleccion
16,'05.10,'700,'13.,'630000,'17967,'16'170300,'282,'3,'24,'84,'318,villa_libia,recoleccion
17,'05.17,'339,'9,'305100,'18306,'16'475400,'291,'1,'28,'85,'346,villa_libia,recoleccion
18,'05-24,'328,'5,'295200,'18634,'16'770600,'296,'1,'28,'86,'374,villa_libia,recoleccion
19,'05-31,'326,'5,'293400,'18960,'17004000,'301,'1,'28,'87,'402,villa_libia,recoleccion
20,',',',',',',',',',',',villa_libia,recoleccion
21,'TOTAL,',',',',',',',',',',villa_libia,recoleccion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,villa_libia,recoleccion

,fecha,kilos café,N.jornales,valor.jor,A. kilos,A.valor,A.jor,bultos,kilos,A.bultos,A.kilos,finca,actividad
0,'01 - 5,'359,'11,'359000,'359,'359000,'11,'1,'29,'1,'29,santa_rita,recoleccion
1,'01-12,'422,'10,'422000,'781,'781000,'21,'2,'-,'3,'29,santa_rita,recoleccion
2,'01 - 19,'387,'10,'387000,'1108,'1'108000,'31,'2,'-,'5,'29,santa_rita,recoleccion
3,'02 - 9,'516,'16,'516000,'1684,'1'684000,'47,'2,'23,'7,'52,santa_rita,recoleccion
4,'02-16,'464,'10,'464000,'2148,'2'1 48000,'57,'2,'12,'9,'64,santa_rita,recoleccion
5,'02-23,'1020,'20,'1'020 000,'3168,"'3,168000",'77,'5,'-,'14,'04,santa_rita,recoleccion
6,'03.1,'434,'15,'434000,'3602,'3'602000,'92,'2,'6,'16,'70,santa_rita,recoleccion
7,'03-8,'979,'19,'979000,'4581,'4'581000,'111,'4,'35,'20,'105,santa_rita,recoleccion
8,'03-15,'806,'20,'806000,'5387,'5'387000,'131,'4,'-,'24,'105,santa_rita,recoleccion
9,'03 - 22,'751,'15,'751000,'6138,'6'138000,'146,'3,'35,'27,'140,santa_rita,recoleccion
10,'03-29,'1278,'18,'1278000,'7416,'7'416 000,'104 the,'6,'15,'33,'155,santa_rita,recoleccion
11,'04.5,'3651,'41,'3'651000,'11007,'11'067000,'205,'18,'9,'51,'104,santa_rita,recoleccion
12,'04-12,'4091,'53,'4001000,'15158,'15'158000,'258,'20,'17,'71,'181,santa_rita,recoleccion
13,'04-19,'2199,'44,'2'199000,'17357,'17'357000,'302,'11,'-,'82,'181,santa_rita,recoleccion
14,'04-26,'707,'14,'707000,'18064,'18'064000,'316,'3,'21,'85,'202,santa_rita,recoleccion
15,'05.3,'740,'16,'740000,'18804,'18'804 000,'332,'3,'14,'88,'216,santa_rita,recoleccion
16,'05 - 10,'681,'15,'681000,'19485,'19'485000,'1013,'3,'28,'91,'244,santa_rita,recoleccion
17,'05 - 17,'395,'10,'395000,'19880,'19'880000,'1023,'2,'-,'93,'244,santa_rita,recoleccion
18,'05.22,'356,'10,'356000,'20236,'20'236000,'1033,'1,'11,'94,'255,santa_rita,recoleccion
19,'06-28,'181,'9,'217200,'20417,'20'453200,'1042,'1,'-,'9's,'255,santa_rita,recoleccion
20,'07-19,'324,'10,'388800,'20741,'20'842000,'1052,'1,'25,'96,'280,santa_rita,recoleccion
21,'TOTAL,',',',',',',',',',',santa_rita,recoleccion
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,santa_rita,recoleccion

--- renovacion ---

,LOTE,FECHA,METODO,N.DE LITROS,VALOR,N.DE JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,','04-28,'Siembra,"'0,7 x","'2,5m =",'Caturd,','10.590,',la_paloma,renovacion
1,','Eliminada,'=,'4595x,'110 = . .,'505450,',',',la_paloma,renovacion
2,',',',',',',',',',la_paloma,renovacion
3,','Siem,'bra =,'10590,'x 500 =,'5'295000,',',',la_paloma,renovacion
4,',',',',',',',',',la_paloma,renovacion
5,',',',','#,'5'800.450,',',',la_paloma,renovacion
6,',',',',',',',',',la_paloma,renovacion
7,',',',',',',',',',la_paloma,renovacion
8,',',',',',',',',',la_paloma,renovacion
9,',',',',',',',',',la_paloma,renovacion
10,',',',',',',',',',la_paloma,renovacion
11,',',',',',',',',',la_paloma,renovacion
12,',',',',',',',',',la_paloma,renovacion
13,',',',',',',',',',la_paloma,renovacion
14,',',',',',',',',',la_paloma,renovacion
15,',',',',',',',',',la_paloma,renovacion
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,renovacion

--- deschupon_resiembra ---

,LOTES,FECHA,VALOR,ACUMULADO VALOR,finca,actividad
0,'2 7 8,'borbon 11-29,'300.000,'300.000,villa_libia,deschupon_resiembra
1,',',',',villa_libia,deschupon_resiembra
2,',',',',villa_libia,deschupon_resiembra
3,',',',',villa_libia,deschupon_resiembra
4,',',',',villa_libia,deschupon_resiembra
5,',',',',villa_libia,deschupon_resiembra
6,NaN,NaN,NaN,NaN,villa_libia,deschupon_resiembra

In [ ]:


# Unir todas las tablas por actividad y guardarlas
final_dfs = {}
for actividad, tablas in final_tables.items():
    if tablas:  # Solo procesar si hay tablas para esta actividad
        df_final = pd.concat(tablas, ignore_index=True)  # Unir los DataFrames
        final_dfs[actividad] = df_final  # Guardar el DataFrame en el diccionario
        output_filepath = os.path.join(output_folder, f"{actividad}_final.csv")
        df_final.to_csv(output_filepath, index=False)
        print(f" Tabla final de '{actividad}' guardada con {len(df_final)} filas.")
    else:
        print(f" No se encontraron archivos para la actividad {actividad}.")

✔️ Tabla final de 'control_maleza' guardada con 306 filas.
✔️ Tabla final de 'control_roya' guardada con 86 filas.
✔️ Tabla final de 'fertilizacion' guardada con 123 filas.
✔️ Tabla final de 'recoleccion' guardada con 277 filas.
✔️ Tabla final de 'renovacion' guardada con 17 filas.
✔️ Tabla final de 'deschupon_resiembra' guardada con 7 filas.

In [ ]:
final_dfs['control_roya']

,LOTES,FECHA,PRODUCTO,P.CARENCIA,P.INGRESO,N. DE LITROS,VALOR,JORNALES,VALOR,VALOR TOTAL,ACUMULADO VALOR,finca,actividad
0,'Varios,'04.1,'voliam E,'04-15,'04-$7,'7.0 L,'2 730000,',',',',santa_rita,control_roya
1,',','Apristar z,'04-15,'04-$7,'10 L,'2897.500,',',',',santa_rita,control_roya
2,',',',',',',',',',',',santa_rita,control_roya
3,',',"'33,5",'cancers (,"'23,5 +10",'(Sexess),',',',',',santa_rita,control_roya
4,',',',',',',',',','10192235,',santa_rita,control_roya
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,',','poterzol,',','7 L,'196000,',',',',la_paloma,control_roya
82,',',',',',',"',",',',',',la_paloma,control_roya
83,',',',',','TOTAL,'15382.750,',',','54340.950,la_paloma,control_roya
84,'08.6,','Amistar,',','6L+2L,'1'796.000,','canical =,'20,'57'096.950,la_paloma,control_roya
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,la_paloma,control_roya

In [ ]:

print("Nombre de las tablas y sus columnas:")
for actividad, df in final_dfs.items():
    print(f"\nTabla: {actividad}")
    print("Columnas:", list(df.columns))

Nombre de las tablas y sus columnas:

Tabla: control_maleza
Columnas: ['LOTE', 'FECHA', 'METODO', 'N.DE LITROS', 'VALOR', 'N.DE JORNALES', 'VALOR', 'VALOR TOTAL', 'ACUMULADO VALOR', 'finca', 'actividad']

Tabla: control_roya
Columnas: ['LOTES', 'FECHA', 'PRODUCTO', 'P.CARENCIA', 'P.INGRESO', 'N. DE LITROS', 'VALOR', 'JORNALES', 'VALOR', 'VALOR TOTAL', 'ACUMULADO VALOR', 'finca', 'actividad']

Tabla: fertilizacion
Columnas: ['LOTES', 'FECHA', 'TIPO DE ABONO', 'DOSIS', 'BULTOS', 'VALOR', 'JORNALES', 'VALOR', 'VALOR TOTAL', 'ACUMULADO', 'finca', 'actividad']

Tabla: recoleccion
Columnas: ['fecha', 'kilos café', 'N.jornales', 'valor.jor', 'A. kilos', 'A.valor', 'A.jor', 'bultos', 'kilos', 'A.bultos', 'A.kilos', 'finca', 'actividad']

Tabla: renovacion
Columnas: ['LOTE', 'FECHA', 'METODO', 'N.DE LITROS', 'VALOR', 'N.DE JORNALES', 'VALOR', 'VALOR TOTAL', 'ACUMULADO VALOR', 'finca', 'actividad']

Tabla: deschupon_resiembra
Columnas: ['LOTES', 'FECHA', 'VALOR', 'ACUMULADO VALOR', 'finca', 'actividad']

#Guardar dataframes en Drive

In [ ]:
# Nombre de la carpeta y el archivo Excel
folder_name = 'finca_cafe'
excel_file_name = 'datos_finca.xlsx'

# Crear la carpeta en Google Drive (si no existe)
folder_path = os.path.join('/content/drive/My Drive', folder_name)
os.makedirs(folder_path, exist_ok=True)

# Ruta completa del archivo Excel
excel_file_path = os.path.join(folder_path, excel_file_name)

# Guardar los DataFrames en el archivo Excel
with pd.ExcelWriter(excel_file_path, engine='xlsxwriter') as writer:
    for actividad, df in final_dfs.items():
        df.to_excel(writer, sheet_name=actividad, index=False)

print(f"Archivo Excel '{excel_file_name}' creado en la carpeta '{folder_name}' en tu Google Drive.")

Archivo Excel 'datos_finca.xlsx' creado en la carpeta 'finca_cafe' en tu Google Drive.

# Partimos desde el archivo guardado

se traen las tablas y se empieza por eliminar simbolos como "'" de la tabla y a formatear los nombres de las columnas

In [ ]:

# Ruta al archivo Excel
excel_file_path = '/content/drive/My Drive/finca_cafe/datos_finca.xlsx'

# Leer todas las hojas del archivo Excel
xls = pd.ExcelFile(excel_file_path)

# Obtener la lista de hojas, excluyendo "Tabla dinámica 1"
sheet_names = [sheet for sheet in xls.sheet_names if sheet != "Tabla dinámica 1"]

# Crear un diccionario para almacenar los DataFrames
dataframes = {}

for sheet_name in sheet_names:
    df = pd.read_excel(excel_file_path, sheet_name=sheet_name)
    df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)

    # Convertir nombres de columnas, reemplazar caracteres y eliminar tildes
    df.columns = (
        df.columns.str.lower()
        .str.replace(' ', '', regex=True)
        .str.replace('[. ]', '_', regex=True)
        .str.replace('__', '_', regex=True)
        .str.normalize('NFKD')
        .str.encode('ascii', errors='ignore')
        .str.decode('ascii')
    )

    # Asignar el DataFrame modificado de nuevo al diccionario
    dataframes[sheet_name] = df

<ipython-input-27-57453c6adaa1>:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)
<ipython-input-27-57453c6adaa1>:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)
<ipython-input-27-57453c6adaa1>:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)
<ipython-input-27-57453c6adaa1>:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)
<ipython-input-27-57453c6adaa1>:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)
<ipython-input-27-57453c6adaa1>:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)

#Limpieza y Transformacion

In [ ]:
for sheet_name, df in dataframes.items():
    print(f"\n--- {sheet_name}: {df.columns} ---")

--- control_maleza: Index(['lote', 'fecha', 'metodo', 'n_de_litros', 'valor', 'n_de_jornales',
       'valor_1', 'valor_total', 'acumulado_valor', 'finca', 'actividad'],
      dtype='object') ---

--- control_roya: Index(['lotes', 'fecha', 'producto', 'p_carencia', 'p_ingreso', 'n_de_litros',
       'valor', 'jornales', 'valor_1', 'valor_total', 'acumulado_valor',
       'finca', 'actividad'],
      dtype='object') ---

--- fertilizacion: Index(['lotes', 'fecha', 'tipo_de_abono', 'dosis', 'bultos', 'valor',
       'jornales', 'valor_1', 'valor_total', 'acumulado', 'finca',
       'actividad'],
      dtype='object') ---

--- recoleccion: Index(['fecha', 'kilos_cafe', 'n_jornales', 'valor_jor', 'a_kilos', 'a_valor',
       'a_jor', 'bultos', 'kilos', 'a_bultos', 'a_kilos', 'finca',
       'actividad'],
      dtype='object') ---

--- renovacion: Index(['lote', 'fecha', 'metodo', 'n_de_litros', 'valor', 'n_de_jornales',
       'valor_1', 'valor_total', 'acumulado_valor', 'finca', 'actividad'],
      dtype='object') ---

--- deschupon_resiembra: Index(['lotes', 'fecha', 'valor', 'acumulado_valor', 'finca', 'actividad'], dtype='object') ---

In [ ]:
def clean_fecha_column(x):
    try:
        # Buscar el día y el mes usando una expresión regular
        match = re.search(r"(\d+)[./-](\d+)", str(x))
        if match:
            mes = int(match.group(1))
            dia = int(match.group(2))
            # Crear la fecha con el año 2024
            fecha = pd.to_datetime(f"{dia}-{mes}-2024", format="%d-%m-%Y")
            return fecha
        else:
            raise ValueError  # Levantar un error si no se encuentra el patrón
    except ValueError:
        return str(x) + "_formato_erroneo"

def clean_valor_column(x):
    try:
        # Si es una cadena, aplicar replace y convertir a entero
        if isinstance(x, str):
            x = x.replace('.', '').replace(' ', '').replace('-', '')  # Eliminar también '-'
            # Si la cadena está vacía después de eliminar puntos, espacios y '-', convertir a NaN
            if x == '':
                return float('nan')
        # Si no es una cadena y es NaN, devolver NaN
        elif pd.isna(x):  # Verificar si es NaN usando pd.isna()
            return float('nan')
        # Convertir a entero (si es posible)
        return int(x)
    except ValueError:
        # Si hay un error, agregar "_formato_erroneo"
        return str(x) + "_formato_erroneo"

In [ ]:
def limpiar_y_transformar_dataframe(df):
    """Aplica las funciones de limpieza y transformación a un DataFrame."""
    df = df.copy() # Crear una copia explícita del DataFrame

    # Renombrar columnas "lotes" a "lote"
    df.rename(columns={'lotes': 'lote'}, inplace=True)  # Cambio de nombre aquí

    # Eliminar filas vacías
    cols_to_check = [col for col in df.columns if col not in ['finca', 'actividad']]
    df.drop(df[df[cols_to_check].isnull().all(axis=1)].index, inplace=True) # usar drop con inplace=True

    # Formatear columnas con "valor"
    valor_cols = [col for col in df.columns if "valor" in col]
    for col in valor_cols:
        df.loc[:, col] = df[col].apply(clean_valor_column)  # Usar .loc para la asignación

    # Formatear columnas con "fecha"
    fecha_cols = [col for col in df.columns if "fecha" in col]
    for col in fecha_cols:
        df.loc[:, col] = df[col].apply(clean_fecha_column)  # Usar .loc para la asignación

    return df

# Aplicar la función a todos los DataFrames en el diccionario
for sheet_name, df in dataframes.items():
    dataframes[sheet_name] = limpiar_y_transformar_dataframe(df)

In [ ]:
dataframes['control_maleza']

,lote,fecha,metodo,n_delitros,valor,n_dejornales,valor_1,valortotal,acumuladovalor,finca,actividad
0,Tomation,2024-06-27 00:00:00,Guadaua,,NaN,,NaN,275000,23289400,la_paloma,control_maleza
1,Batea,2024-06-27 00:00:00,C.Q/CO,3.6+/.5,126000,3 cradras,240000,306000,23655400,la_paloma,control_maleza
2,,2024-06-27 00:00:00,Guadana,,NaN,,NaN,440000,24095400,la_paloma,control_maleza
3,/cenicale,2024-06-28 00:00:00,Guadana,,NaN,,NaN,165000,24260400,la_paloma,control_maleza
4,Ladeva,2024-07-04 00:00:00,C.Q/W,SL+ZL+ZL,225000,4er 80000,320000,545000,24805400,la_paloma,control_maleza
...,...,...,...,...,...,...,...,...,...,...,...
300,,2024-05-06 00:00:00,C.Q/W,"9,5L+4,5,4,5 contrato",573000,,800000,1373000,21383400,la_paloma,control_maleza
301,Batea,2024-05-30 00:00:00,Guadana,,NaN,,NaN,275000,21658400,la_paloma,control_maleza
302,Danubio,2024-06-20 00:00:00,""" "",""",,NaN,,220000,21878400,NaN,la_paloma,control_maleza
303,Danubio,2024-07-12 00:00:00,plateo,,NaN,17,NaN,816000,22694400,la_paloma,control_maleza
304,Motobomba,2024-06-19 00:00:00,C.Q/W.,4L+2L+2L,252000,4 euadras,NaN,320000,23014400,la_paloma,control_maleza

## guardar archivo 1

In [ ]:
excel_file_name2 = 'datos_finca_V2.xlsx'
folder_name = 'finca_cafe'
folder_path = os.path.join('/content/drive/My Drive', folder_name)
excel_file_path = os.path.join(folder_path, excel_file_name2)
with pd.ExcelWriter(excel_file_path, engine='xlsxwriter') as writer:
    for sheet_name, df in dataframes.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)

print(f"Archivo Excel '{excel_file_name2}' creado en la carpeta '{folder_name}' en tu Google Drive.")

Archivo Excel 'datos_finca_V2.xlsx' creado en la carpeta 'finca_cafe' en tu Google Drive.

# agrupacion lotes

In [39]:
# Ruta al archivo Excel
excel_file_path = '/content/drive/My Drive/finca_cafe/datos_finca_V2.xlsx'

# Leer todas las hojas del archivo Excel
xls = pd.ExcelFile(excel_file_path)

# Obtener la lista de hojas, excluyendo "Tabla dinámica 1"
sheet_names = [sheet for sheet in xls.sheet_names if sheet != "Tabla dinámica 1"]

# Crear un diccionario para almacenar los DataFrames
dataframes = {}

for sheet_name in sheet_names:
    df = pd.read_excel(excel_file_path, sheet_name=sheet_name)

    # Asignar el DataFrame modificado de nuevo al diccionario
    dataframes[sheet_name] = df

In [6]:
!pip install python-Levenshtein

Collecting python-Levenshtein
  Downloading python_levenshtein-0.27.1-py3-none-any.whl.metadata (3.7 kB)
Collecting Levenshtein==0.27.1 (from python-Levenshtein)
  Downloading levenshtein-0.27.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.6 kB)
Collecting rapidfuzz<4.0.0,>=3.9.0 (from Levenshtein==0.27.1->python-Levenshtein)
  Downloading rapidfuzz-3.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Downloading python_levenshtein-0.27.1-py3-none-any.whl (9.4 kB)
Downloading levenshtein-0.27.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (161 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 161.7/161.7 kB 3.1 MB/s eta 0:00:00
Downloading rapidfuzz-3.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 35.5 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.27.1 python-Levenshtein-0.27.1 rapidfuzz-3.13.0

In [40]:

import unicodedata
from Levenshtein import distance
from sklearn.cluster import DBSCAN, AgglomerativeClustering
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Limpieza básica de texto



import re

def limpiar_y_normalizar_lote(df, col_name='lote'):
    """
    Limpia y normaliza la columna de lote:
    - Elimina símbolos que no sean letras/números
    - Elimina letras sueltas (como 'L 5' → '5')
    - Elimina palabras de solo letras cortas/repetidas (como 'ii')
    - Aplica normalización fonética ligera
    """
    def procesar(valor):
        if pd.isna(valor):
            return valor
        # Convertir a string y minúsculas
        valor = str(valor).lower()

        # Eliminar símbolos raros, mantener solo letras, números y espacios
        valor = re.sub(r'[^\w\s]', '', valor)

        # Normalización fonética ligera
        valor = valor.replace('ph', 'f')
        valor = re.sub(r'[b|v]', 'b', valor)
        valor = re.sub(r'[c|k|q]', 'k', valor)
        valor = re.sub(r'[z|s]', 's', valor)
        valor = re.sub(r'[^a-zA-Z0-9\s]', '', valor)  # quitar cosas residuales

        # Separar por espacios y eliminar letras sueltas o repetidas
        partes = valor.strip().split()
        partes = [p for p in partes if not (
            (len(p) == 1 and p.isalpha()) or
            (len(p) <= 2 and p.isalpha()) or
            (len(set(p)) == 1 and len(p) <= 3)  # ej. "ii", "aaa"
        )]

        return " ".join(partes)

    df[col_name] = df[col_name].apply(procesar)
    return df


def expandir_lotes_por_delimitadores(df, col_lote='lote', delimitadores=('-', '.')):
    import re

    # Crear una expresión regular a partir de los delimitadores
    pattern = '|'.join(map(re.escape, delimitadores))

    # Crear una lista para almacenar los nuevos registros
    filas_expandidas = []

    for _, row in df.iterrows():
        lotes = re.split(pattern, str(row[col_lote]))
        lotes = [l.strip() for l in lotes if l.strip()]  # limpiar espacios y vacíos

        for lote in lotes:
            nueva_fila = row.copy()
            nueva_fila[col_lote] = lote
            filas_expandidas.append(nueva_fila)

    df_expandido = pd.DataFrame(filas_expandidas)
    return df_expandido



def clean_text(text):
    text = str(text).lower()
    text = ''.join(c for c in unicodedata.normalize('NFKD', text) if not unicodedata.combining(c))
    text = re.sub(r'[^a-z0-9\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

def cluster_levenshtein_dbscan(df, col_name='lote_limpio', eps=2, finca=''):
    from Levenshtein import distance
    from sklearn.cluster import DBSCAN

    lotes = df[col_name].tolist()

    # Matriz de distancia modificada con penalización para lotes cortos
    dist_matrix = []
    for a in lotes:
        row = []
        for b in lotes:
            d = distance(a, b)
            if (len(a) <= 2 or len(b) <= 2) and a != b:
                d += 2  # penaliza si ambos son cortos pero diferentes
            row.append(d)
        dist_matrix.append(row)

    clustering = DBSCAN(eps=eps, min_samples=1, metric='precomputed').fit(dist_matrix)
    df['cluster_levenshtein'] = [
        f"{finca}_{label}" if label != -1 else f"{finca}_outlier"
        for label in clustering.labels_
    ]
    return df


# Clustering con Cosine Similarity y AgglomerativeClustering
def cluster_cosine_agglomerative(df, col_name='lote_limpio', n_clusters=5):
    lotes = df[col_name].tolist()
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(lotes)
    similarity_matrix = cosine_similarity(X)
    distance_matrix = 1 - similarity_matrix
    # Este parámetro es 'metric' en versiones nuevas, pero algunas aún requieren 'affinity'
    clustering = AgglomerativeClustering(n_clusters=n_clusters, metric='precomputed', linkage='average')
    df['cluster_cosine'] = clustering.fit_predict(distance_matrix)
    return df

from Levenshtein import distance

def asignar_cluster_por_similitud(df, col_name='lote_limpio', referencia_df=None):
    """Asigna a cada lote el cluster más similar según los lotes ya clusterizados en referencia_df."""

    if referencia_df is None:
        raise ValueError("Debes proporcionar un DataFrame de referencia con columnas 'lote_limpio' y 'cluster_levenshtein'.")

    # Crear diccionario: lote de referencia -> cluster
    ref_lotes = referencia_df[['lote_limpio', 'cluster_levenshtein']].drop_duplicates()
    ref_dict = dict(zip(ref_lotes['lote_limpio'], ref_lotes['cluster_levenshtein']))

    def obtener_cluster_mas_parecido(lote):
        min_dist = float('inf')
        best_cluster = 'sin_match'
        for ref_lote, cluster in ref_dict.items():
            d = distance(str(lote), str(ref_lote))
            if d < min_dist:
                min_dist = d
                best_cluster = cluster
        return best_cluster

    df['cluster_levenshtein'] = df[col_name].apply(obtener_cluster_mas_parecido)
    return df


    df['cluster_levenshtein'] = df[col_name].apply(encontrar_cluster_mas_cercano)
    return df

In [41]:
referencia_maleza = None

for sheet_name in sheet_names:
    df = xls.parse(sheet_name)

    if 'lote' not in df.columns:
        print(f" Hoja '{sheet_name}' no tiene columna 'lote'. Saltando...")
        continue

    df = limpiar_y_normalizar_lote(df, col_name='lote')

    # Expansión de registros por múltiple lote
    df = expandir_lotes_por_delimitadores(df, col_lote='lote', delimitadores=('-', '.'))

    # Limpieza de texto
    df['lote_limpio'] = df['lote'].astype(str).apply(clean_text)

    df_list = []

    if sheet_name == 'control_maleza':
        for finca_name, group in df.groupby('finca'):
            group = cluster_levenshtein_dbscan(group, col_name='lote_limpio', eps=2, finca=finca_name)
            df_list.append(group)

        df_final = pd.concat(df_list, ignore_index=True)
        referencia_maleza = df_final.copy()

    else:
        if referencia_maleza is None:
            print(" No se ha procesado 'control_maleza' todavía. Saltando...")
            continue

        df = asignar_cluster_por_similitud(df, col_name='lote_limpio', referencia_df=referencia_maleza)
        df_list.append(df)
        df_final = pd.concat(df_list, ignore_index=True)

    dataframes[sheet_name] = df_final

 Hoja 'recoleccion' no tiene columna 'lote'. Saltando...

In [42]:
control_maleza = dataframes['control_maleza']
control_maleza

,lote,fecha,metodo,n_delitros,valor,n_dejornales,valor_1,valortotal,acumuladovalor,finca,actividad,lote_limpio,cluster_levenshtein
0,tomation,2024-06-27 00:00:00,Guadaua,NaN,NaN,NaN,NaN,275000,23289400,la_paloma,control_maleza,tomation,la_paloma_0
1,batea,2024-06-27 00:00:00,C.Q/CO,3.6+/.5,126000,3 cradras,240000,306000,23655400,la_paloma,control_maleza,batea,la_paloma_1
2,nan,2024-06-27 00:00:00,Guadana,NaN,NaN,NaN,NaN,440000,24095400,la_paloma,control_maleza,nan,la_paloma_2
3,kenikale,2024-06-28 00:00:00,Guadana,NaN,NaN,NaN,NaN,165000,24260400,la_paloma,control_maleza,kenikale,la_paloma_3
4,ladeba,2024-07-04 00:00:00,C.Q/W,SL+ZL+ZL,225000,4er 80000,320000,545000,24805400,la_paloma,control_maleza,ladeba,la_paloma_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,palma,2024-05-28 00:00:00,"""",NaN,NaN,NaN,NaN,330000,6976000,santa_rita,control_maleza,palma,santa_rita_9
137,korona,06 - 3_formato_erroneo,11,NaN,NaN,NaN,NaN,330000,7306000,santa_rita,control_maleza,korona,santa_rita_17
138,tangeer,2024-06-06 00:00:00,11,NaN,NaN,NaN,NaN,330000,7636000,santa_rita,control_maleza,tangeer,santa_rita_22
139,56,2024-09-06 00:00:00,C.O/co,12205,43500,NaN,104000,147500,15154700,villa_libia,control_maleza,56,villa_libia_0
140,barios,2024-06-28 00:00:00,bejueada,NaN,NaN,22x48000,NaN,1056000,10852400,villa_libia,control_maleza,barios,villa_libia_1

In [10]:
display(fertilizacion.groupby(['cluster_levenshtein'])['lote'].apply(list).reset_index())

NameError: name 'fertilizacion' is not defined

In [11]:
display(control_maleza.groupby(['cluster_levenshtein'])['lote'].apply(list).reset_index())

   cluster_levenshtein                                               lote
0          la_paloma_0                                         [tomation]
1          la_paloma_1         [batea, batea, batea, batia, batea, batea]
2         la_paloma_10                              [motob, motob, hotob]
3         la_paloma_11           [porben, porton, porton, porton, porton]
4         la_paloma_12                                          [fuklera]
5         la_paloma_13                                         [tra, tra]
6         la_paloma_14                                        [kologouse]
7         la_paloma_15  [darubio, dambio, danutik, danubio, danubid, d...
8         la_paloma_16                                               [l5]
9         la_paloma_17                                        [petaktory]
10        la_paloma_18                                            [libro]
11        la_paloma_19                                             [peop]
12         la_paloma_2                          [nan, nan, nan, nan, nan]
13        la_paloma_20                                          [karoool]
14        la_paloma_21                                          [puladan]
15        la_paloma_22                                          [postair]
16        la_paloma_23                                          [powebir]
17        la_paloma_24                                           [gerame]
18        la_paloma_25                                           [graman]
19        la_paloma_26                                        [kologuror]
20        la_paloma_27                                        [porbering]
21        la_paloma_28                                        [motobomba]
22         la_paloma_3                       [kenikale, kerikal, kenikal]
23         la_paloma_4                                   [ladeba, ladora]
24         la_paloma_5                                   [karawl, karael]
25         la_paloma_6                [kulebra, kulebra, kulbia, kulebra]
26         la_paloma_7                                [pubi2, rubi, rubi]
27         la_paloma_8                        [guamera, gramera, gramera]
28         la_paloma_9                               [pelodoia, pelodora]
29         primavera_0                           [13, 13, 13, 13, 13, 13]
30         primavera_1           [108, 101, 1br, 1br, 10a, 10b, 10a, 10a]
31         primavera_2                             [1satra, satra, sufra]
32         primavera_3                               [10, 10, 10, 10, 10]
33         primavera_4                                          [nogales]
34         primavera_5                                     [soka nogales]
35        santa_rita_0                                 [tankues, tankues]
36        santa_rita_1                                         [dosbigue]
37       santa_rita_10                                  [taugars, taugus]
38       santa_rita_11                      [bariedad, barudad, bariodad]
39       santa_rita_12                                          [eobyour]
40       santa_rita_13                                              [lla]
41       santa_rita_14                                         [potserup]
42       santa_rita_15                                        [kologuous]
43       santa_rita_16                                         [kologuro]
44       santa_rita_17                                   [korona, korona]
45       santa_rita_18                                     [tankues goka]
46       santa_rita_19                                          [potenon]
47        santa_rita_2                                   [barior, barior]
48       santa_rita_20                                             [amal]
49       santa_rita_21                                          [potruro]
50       santa_rita_22                                          [tangeer]
51        santa_rita_3                             [ed01, edo, edos, edo]
52        santa_rita_4                                       [angrelling]
53        santa_rita_5                                        [kolesaria]
54        santa_rita_6                                  [potserop korona]
55        santa_rita_7  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
56        santa_rita_8                                           [alliat]
57        santa_rita_9                              [palma, palma, palma]
58       villa_libia_0                                               [56]
59       villa_libia_1                                           [barios]

In [12]:
for sheet_name, df in dataframes.items():
    print(f"\n--- {sheet_name}: {df.columns} ---")

--- control_maleza: Index(['lote', 'fecha', 'metodo', 'n_delitros', 'valor', 'n_dejornales',
       'valor_1', 'valortotal', 'acumuladovalor', 'finca', 'actividad',
       'lote_limpio', 'cluster_levenshtein'],
      dtype='object') ---

--- control_roya: Index(['lote', 'fecha', 'producto', 'p_carencia', 'p_ingreso', 'n_delitros',
       'valor', 'jornales', 'valor_1', 'valortotal', 'acumuladovalor', 'finca',
       'actividad', 'lote_limpio', 'cluster_levenshtein'],
      dtype='object') ---

--- fertilizacion: Index(['lote', 'fecha', 'tipodeabono', 'dosis', 'bultos', 'valor', 'jornales',
       'valor_1', 'valortotal', 'acumulado', 'finca', 'actividad',
       'lote_limpio', 'cluster_levenshtein'],
      dtype='object') ---

--- recoleccion: Index(['fecha', 'kiloscafe', 'n_jornales', 'valor_jor', 'a_kilos', 'a_valor',
       'a_jor', 'bultos', 'kilos', 'a_bultos', 'a_kilos.1', 'finca',
       'actividad'],
      dtype='object') ---

--- renovacion: Index(['lote', 'fecha', 'metodo', 'n_delitros', 'valor', 'n_dejornales',
       'valor_1', 'valortotal', 'acumuladovalor', 'finca', 'actividad',
       'lote_limpio', 'cluster_levenshtein'],
      dtype='object') ---

--- deschupon_resiembra: Index(['lote', 'fecha', 'valor', 'acumuladovalor', 'finca', 'actividad',
       'lote_limpio', 'cluster_levenshtein'],
      dtype='object') ---

# Limpieza 2

In [43]:
def renombrar_columnas_valor_contextual(df):
    """
    Renombra columnas con 'valor' (excepto las que contienen 'total' o 'acumulado')
    para incluir el nombre de la columna anterior, ej: valor_n_dejornales.
    """
    nuevas_columnas = []
    columnas = df.columns.tolist()

    for i, col in enumerate(columnas):
        col_lower = col.lower()
        if 'valor' in col_lower and 'total' not in col_lower and 'acumulado' not in col_lower:
            # Obtener el nombre de la columna anterior si existe
            if i > 0:
                anterior = columnas[i - 1].lower()
                nuevo_nombre = f"valor_{anterior}"
            else:
                nuevo_nombre = col_lower
            nuevas_columnas.append(nuevo_nombre)
        else:
            nuevas_columnas.append(col_lower)

    df.columns = nuevas_columnas
    return df

In [44]:
for sheet_name, df in dataframes.items():
    print(f"Procesando hoja: {sheet_name}")
    df = renombrar_columnas_valor_contextual(df)
    dataframes[sheet_name] = df  # Actualizar en el diccionario

Procesando hoja: control_maleza
Procesando hoja: control_roya
Procesando hoja: fertilizacion
Procesando hoja: recoleccion
Procesando hoja: renovacion
Procesando hoja: deschupon_resiembra

In [15]:
for sheet_name, df in dataframes.items():
    print(f"\n--- {sheet_name}: {df.columns} ---")

--- control_maleza: Index(['lote', 'fecha', 'metodo', 'n_delitros', 'valor_n_delitros',
       'n_dejornales', 'valor_n_dejornales', 'valortotal', 'acumuladovalor',
       'finca', 'actividad', 'lote_limpio', 'cluster_levenshtein'],
      dtype='object') ---

--- control_roya: Index(['lote', 'fecha', 'producto', 'p_carencia', 'p_ingreso', 'n_delitros',
       'valor_n_delitros', 'jornales', 'valor_jornales', 'valortotal',
       'acumuladovalor', 'finca', 'actividad', 'lote_limpio',
       'cluster_levenshtein'],
      dtype='object') ---

--- fertilizacion: Index(['lote', 'fecha', 'tipodeabono', 'dosis', 'bultos', 'valor_bultos',
       'jornales', 'valor_jornales', 'valortotal', 'acumulado', 'finca',
       'actividad', 'lote_limpio', 'cluster_levenshtein'],
      dtype='object') ---

--- recoleccion: Index(['fecha', 'kiloscafe', 'n_jornales', 'valor_n_jornales', 'a_kilos',
       'valor_a_kilos', 'a_jor', 'bultos', 'kilos', 'a_bultos', 'a_kilos.1',
       'finca', 'actividad'],
      dtype='object') ---

--- renovacion: Index(['lote', 'fecha', 'metodo', 'n_delitros', 'valor_n_delitros',
       'n_dejornales', 'valor_n_dejornales', 'valortotal', 'acumuladovalor',
       'finca', 'actividad', 'lote_limpio', 'cluster_levenshtein'],
      dtype='object') ---

--- deschupon_resiembra: Index(['lote', 'fecha', 'valor_fecha', 'acumuladovalor', 'finca', 'actividad',
       'lote_limpio', 'cluster_levenshtein'],
      dtype='object') ---

In [45]:
import pandas as pd
import uuid
# 0. Eliminar hora de la fecha
for sheet_name, df in dataframes.items():
    # Identificar columnas que contienen 'fecha' y son de tipo datetime
    fecha_cols = [col for col in df.columns if "fecha" in col.lower()] # No verificamos el tipo aquí

    for col in fecha_cols:
        # Asegurarnos de que no sea ya NaN o una cadena de error
        df[col] = df[col].astype(str).apply(lambda x: x.split(' ')[0] if isinstance(x, str) and ' ' in x and '_formato_erroneo' not in x and x != 'NaT' else x)
        # Convertir de nuevo a datetime, manejando errores
        df[col] = pd.to_datetime(df[col], errors='coerce')

cols_to_dropna = {
    "control_maleza": ["n_delitros","valor_n_delitros","n_dejornales","valor_n_dejornales","valortotal","acumuladovalor"],
    "control_roya": ["producto","p_carencia","p_ingreso","n_delitros","valor_n_delitros","jornales","valor_jornales","valortotal","acumuladovalor"],
    "fertilizacion": ["tipodeabono","dosis","bultos","valor_bultos","jornales","valor_jornales","valortotal","acumulado"],
    "recoleccion": ["kiloscafe","n_jornales","valor_n_jornales","a_kilos","valor_a_kilos","a_jor","bultos","kilos","a_bultos","a_kilos.1"],
    "renovacion": ["metodo","n_delitros","valor_n_delitros","n_dejornales","valor_n_dejornales","valortotal","acumuladovalor"],
    # Asegúrate de que los nombres de las actividades coincidan con tus hojas del Excel
}


# --- Nuevo paso para eliminar filas vacías en columnas específicas ---
for sheet_name, df in dataframes.items():
    if sheet_name in cols_to_dropna:
        cols_to_check = cols_to_dropna[sheet_name]

        # Asegurarse de que las columnas existan en el DataFrame antes de aplicar dropna
        existing_cols_to_check = [col for col in cols_to_check if col in df.columns]


        if existing_cols_to_check:
            initial_rows = len(df)

            # Identificar filas donde *todas* las columnas especificadas son nulas
            # Usamos .loc para evitar SettingWithCopyWarning
            rows_to_drop_mask = df[existing_cols_to_check].isnull().all(axis=1)
            df = df.loc[~rows_to_drop_mask].copy() # Usar .copy() para evitar SettingWithCopyWarning

            rows_dropped = initial_rows - len(df)
            print(f"'{sheet_name}': Eliminadas {rows_dropped} filas donde TODAS las columnas en {existing_cols_to_check} estaban vacías.")
            dataframes[sheet_name] = df # Actualizar el DataFrame en el diccionario

        else:
             print(f"'{sheet_name}': Ninguna de las columnas especificadas para dropna ({cols_to_check}) se encontró en el DataFrame.")
    else:
        print(f"'{sheet_name}': No se especificaron columnas para eliminar filas vacías.")



# Aplicar la función mejorada a todos los DataFrames en el diccionario
for sheet_name, df in dataframes.items():
    # Asegurarse de que la columna 'actividad' existe y tiene el nombre de la hoja
    if 'actividad' not in df.columns:
         df['actividad'] = sheet_name
    dataframes[sheet_name] = asignar_id_unico_mejorado(df, sheet_name[:3])


# 1. Asignar ID único a cada fila
def asignar_id_unico_mejorado(df, prefijo):
    """
    Asigna un ID compuesto a cada fila basado en finca, actividad, cluster, fecha y número de línea.
    Maneja valores NaN para 'cluster_levenshtein'.
    """
    ids = []
    #  columnas necesarias
    required_cols = ['finca', 'actividad', 'fecha']
    for col in required_cols:
        if col not in df.columns:
            print(f"Error: La columna '{col}' no se encuentra en el DataFrame.")
            # Puedes decidir si lanzar un error o manejarlo de otra forma
            return df # O raise ValueError(f"Falta la columna {col}")

    # Asegurarse de que 'cluster_levenshtein' existe, si no, crearla con NaN
    if 'cluster_levenshtein' not in df.columns:
        df['cluster_levenshtein'] = float('nan')

    for index, row in df.iterrows():
        finca = str(row['finca']).replace(' ', '_') # Reemplaza espacios por guiones bajos
        actividad = str(row['actividad']).replace(' ', '_')
        cluster = str(row['cluster_levenshtein']).replace('nan', 'sin_cluster').replace(' ', '_') # Maneja NaN y espacios
        # Formatear la fecha para el ID, si es datetime
        fecha_str = "sin_fecha"
        if pd.notna(row['fecha']):
            try:
                # Intenta formatear como datetime
                fecha_str = row['fecha'].strftime('%Y%m%d')
            except AttributeError:
                # Si no es datetime, intenta limpiarla como string
                fecha_str = re.sub(r'[^\w]', '', str(row['fecha']))[:8] # Limita a 8 caracteres

        linea = index + 1 # Número de línea basado en el índice (empieza en 1)

        # Crea el ID compuesto
        # Usamos un separador consistente como '_'
        id_compuesto = f"{finca}_{actividad}_{cluster}_{fecha_str}_{linea}"
        ids.append(id_compuesto)

    df['id'] = ids
    return df

# Aplicar la función mejorada a todos los DataFrames en el diccionario
for sheet_name, df in dataframes.items():
    # Asegurarse de que la columna 'actividad' existe y tiene el nombre de la hoja
    if 'actividad' not in df.columns:
         df['actividad'] = sheet_name
    dataframes[sheet_name] = asignar_id_unico_mejorado(df, sheet_name[:3])


# 2. Crear tabla de consolidación actividad_general

def crear_actividad_general(dataframes):
    # Definir las columnas de la tabla consolidada
    columnas_consolidadas = ['id', 'finca', 'lote_cluster', 'fecha', 'actividad', 'insumo', 'cantidad_insumo', 'valor_insumo', 'jornales', 'valor_jornales', 'valortotal']

    actividad_general = []
    for sheet_name, df in dataframes.items():
        # Definir lógica para cada hoja (actividad)
        if sheet_name == 'control_maleza':
            data = {
                'id': df['id'],
                'finca': df['finca'],
                'lote_cluster': df['cluster_levenshtein'],
                'fecha': df['fecha'],
                'actividad': sheet_name,
                'insumo': df['metodo'],
                'cantidad_insumo': df['n_delitros'],
                'valor_insumo': df['valor_n_delitros'],
                'jornales': df['n_dejornales'],
                'valor_jornales': df['valor_n_dejornales'],
                'valortotal': df['valortotal']
            }
        elif sheet_name == 'control_roya':
            data = {
                'id': df['id'],
                'finca': df['finca'],
                'lote_cluster': df['cluster_levenshtein'],
                'fecha': df['fecha'],
                'actividad': sheet_name,
                'insumo': df['producto'],
                'cantidad_insumo': df['n_delitros'],
                'valor_insumo': df['valor_n_delitros'],
                'jornales': df['jornales'],
                'valor_jornales': df['valor_jornales'],
                'valortotal': df['valortotal']
            }
        elif sheet_name == 'fertilizacion':
            data = {
                'id': df['id'],
                'finca': df['finca'],
                'lote_cluster': df['cluster_levenshtein'],
                'fecha': df['fecha'],
                'actividad': sheet_name,
                'insumo': df['tipodeabono'],
                'cantidad_insumo': df['bultos'],
                'valor_insumo': df['valor_bultos'],
                'jornales': df['jornales'],
                'valor_jornales': df['valor_jornales'],
                'valortotal': df['valortotal']
            }
        elif sheet_name == 'recoleccion':
            # --- Revisar esta sección cuidadosamente ---
            # Asegurarnos de no referenciar 'lote_cluster' en el df de recoleccion
            data = {
                'id': df['id'],
                'finca': df['finca'],
                'lote_cluster': 'sin_lote',  # Asigna un valor por defecto
                'fecha': df['fecha'],
                'actividad': sheet_name,
                'insumo': df['kiloscafe'],
                'cantidad_insumo': df['kiloscafe'],
                'valor_insumo': 0,
                'jornales': df['n_jornales'],
                'valor_jornales': df['valor_n_jornales'] if 'valor_n_jornales' in df.columns else 0, # Verifica la columna
                'valortotal': df['valortotal'] if 'valortotal' in df.columns else 0 # Verifica la columna
            }
        else:
            continue  # Ignorar otras hojas

        # Crear DataFrame y agregar a la lista
        # Verificar que todas las columnas en columnas_consolidadas estén en data antes de crear el DataFrame
        for col in columnas_consolidadas:
            if col not in data:
                # Esto no debería pasar con el código actual, pero es una buena práctica de depuración
                print(f"Error: Columna '{col}' esperada en '{sheet_name}' pero no encontrada en 'data'.")

        df_subset = pd.DataFrame(data, columns=columnas_consolidadas)
        actividad_general.append(df_subset)

    return pd.concat(actividad_general, ignore_index=True)

actividad_general = crear_actividad_general(dataframes)

'control_maleza': Eliminadas 17 filas donde TODAS las columnas en ['n_delitros', 'valor_n_delitros', 'n_dejornales', 'valor_n_dejornales', 'valortotal', 'acumuladovalor'] estaban vacías.
'control_roya': Eliminadas 17 filas donde TODAS las columnas en ['producto', 'p_carencia', 'p_ingreso', 'n_delitros', 'valor_n_delitros', 'jornales', 'valor_jornales', 'valortotal', 'acumuladovalor'] estaban vacías.
'fertilizacion': Eliminadas 19 filas donde TODAS las columnas en ['tipodeabono', 'dosis', 'bultos', 'valor_bultos', 'jornales', 'valor_jornales', 'valortotal', 'acumulado'] estaban vacías.
'recoleccion': Eliminadas 34 filas donde TODAS las columnas en ['kiloscafe', 'n_jornales', 'valor_n_jornales', 'a_kilos', 'valor_a_kilos', 'a_jor', 'bultos', 'kilos', 'a_bultos', 'a_kilos.1'] estaban vacías.
'renovacion': Eliminadas 12 filas donde TODAS las columnas en ['metodo', 'n_delitros', 'valor_n_delitros', 'n_dejornales', 'valor_n_dejornales', 'valortotal', 'acumuladovalor'] estaban vacías.
'deschupon_resiembra': No se especificaron columnas para eliminar filas vacías.

<ipython-input-45-67cbf8e6d8b3>:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce')
<ipython-input-45-67cbf8e6d8b3>:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce')

In [46]:
actividad_general

,id,finca,lote_cluster,fecha,actividad,insumo,cantidad_insumo,valor_insumo,jornales,valor_jornales,valortotal
0,la_paloma_control_maleza_la_paloma_0_20240627_1,la_paloma,la_paloma_0,2024-06-27,control_maleza,Guadaua,NaN,NaN,NaN,NaN,275000
1,la_paloma_control_maleza_la_paloma_1_20240627_2,la_paloma,la_paloma_1,2024-06-27,control_maleza,C.Q/CO,3.6+/.5,126000,3 cradras,240000,306000
2,la_paloma_control_maleza_la_paloma_2_20240627_3,la_paloma,la_paloma_2,2024-06-27,control_maleza,Guadana,NaN,NaN,NaN,NaN,440000
3,la_paloma_control_maleza_la_paloma_3_20240628_4,la_paloma,la_paloma_3,2024-06-28,control_maleza,Guadana,NaN,NaN,NaN,NaN,165000
4,la_paloma_control_maleza_la_paloma_4_20240704_5,la_paloma,la_paloma_4,2024-07-04,control_maleza,C.Q/W,SL+ZL+ZL,225000,4er 80000,320000,545000
...,...,...,...,...,...,...,...,...,...,...,...
478,santa_rita_recoleccion_sin_cluster_sin_fecha_260,santa_rita,sin_lote,NaT,recoleccion,681,681,0,15,681000,0
479,santa_rita_recoleccion_sin_cluster_sin_fecha_261,santa_rita,sin_lote,NaT,recoleccion,395,395,0,10,395000,0
480,santa_rita_recoleccion_sin_cluster_20240522_262,santa_rita,sin_lote,2024-05-22,recoleccion,356,356,0,10,356000,0
481,santa_rita_recoleccion_sin_cluster_20240628_263,santa_rita,sin_lote,2024-06-28,recoleccion,181,181,0,9,217200,0
482,santa_rita_recoleccion_sin_cluster_20240719_264,santa_rita,sin_lote,2024-07-19,recoleccion,324,324,0,10,388800,0

In [23]:
actividad_general['id'].duplicated().sum()

np.int64(0)

In [47]:
dataframes['control_maleza']

,lote,fecha,metodo,n_delitros,valor_n_delitros,n_dejornales,valor_n_dejornales,valortotal,acumuladovalor,finca,actividad,lote_limpio,cluster_levenshtein,id
0,tomation,2024-06-27,Guadaua,NaN,NaN,NaN,NaN,275000,23289400,la_paloma,control_maleza,tomation,la_paloma_0,la_paloma_control_maleza_la_paloma_0_20240627_1
1,batea,2024-06-27,C.Q/CO,3.6+/.5,126000,3 cradras,240000,306000,23655400,la_paloma,control_maleza,batea,la_paloma_1,la_paloma_control_maleza_la_paloma_1_20240627_2
2,nan,2024-06-27,Guadana,NaN,NaN,NaN,NaN,440000,24095400,la_paloma,control_maleza,nan,la_paloma_2,la_paloma_control_maleza_la_paloma_2_20240627_3
3,kenikale,2024-06-28,Guadana,NaN,NaN,NaN,NaN,165000,24260400,la_paloma,control_maleza,kenikale,la_paloma_3,la_paloma_control_maleza_la_paloma_3_20240628_4
4,ladeba,2024-07-04,C.Q/W,SL+ZL+ZL,225000,4er 80000,320000,545000,24805400,la_paloma,control_maleza,ladeba,la_paloma_4,la_paloma_control_maleza_la_paloma_4_20240704_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,palma,2024-05-28,"""",NaN,NaN,NaN,NaN,330000,6976000,santa_rita,control_maleza,palma,santa_rita_9,santa_rita_control_maleza_santa_rita_9_2024052...
137,korona,NaT,11,NaN,NaN,NaN,NaN,330000,7306000,santa_rita,control_maleza,korona,santa_rita_17,santa_rita_control_maleza_santa_rita_17_sin_fe...
138,tangeer,2024-06-06,11,NaN,NaN,NaN,NaN,330000,7636000,santa_rita,control_maleza,tangeer,santa_rita_22,santa_rita_control_maleza_santa_rita_22_202406...
139,56,2024-09-06,C.O/co,12205,43500,NaN,104000,147500,15154700,villa_libia,control_maleza,56,villa_libia_0,villa_libia_control_maleza_villa_libia_0_20240...
140,barios,2024-06-28,bejueada,NaN,NaN,22x48000,NaN,1056000,10852400,villa_libia,control_maleza,barios,villa_libia_1,villa_libia_control_maleza_villa_libia_1_20240...

In [48]:

def crear_tablas_auxiliares(actividad_general):
    # Crear tabla de fincas
    fincas = actividad_general[['finca']].drop_duplicates().reset_index(drop=True)
    fincas['finca_id'] = [f"finca-{uuid.uuid4().hex[:6]}" for _ in range(len(fincas))]
    fincas = fincas.rename(columns={'finca': 'nombre_finca'})  # renombrar aquí directamente

    # Crear tabla de lotes
    lotes = actividad_general[['finca', 'lote_cluster']].drop_duplicates().reset_index(drop=True)
    lotes['lote_id'] = [f"cluster-{uuid.uuid4().hex[:6]}" for _ in range(len(lotes))]

    # Unir con fincas para obtener finca_id
    lotes = lotes.merge(fincas, left_on='finca', right_on='nombre_finca', how='left')
    lotes = lotes[['lote_id', 'lote_cluster', 'finca_id', 'nombre_finca']]
    lotes = lotes.rename(columns={'lote_cluster': 'nombre_lote'})

    return fincas, lotes
fincas, lotes = crear_tablas_auxiliares(actividad_general)

In [ ]:
print(actividad_general.columns)

Index(['id', 'finca', 'lote_cluster', 'fecha', 'actividad', 'insumo',
       'cantidad_insumo', 'valor_insumo', 'jornales', 'valor_jornales',
       'valortotal'],
      dtype='object')

In [ ]:
lotes

           lote_id   nombre_lote      finca_id nombre_finca
0   cluster-1e65a6   la_paloma_0  finca-dc5a3c    la_paloma
1   cluster-63f6f5   la_paloma_1  finca-dc5a3c    la_paloma
2   cluster-5efb52   la_paloma_2  finca-dc5a3c    la_paloma
3   cluster-c4a70e   la_paloma_3  finca-dc5a3c    la_paloma
4   cluster-068bad   la_paloma_4  finca-dc5a3c    la_paloma
..             ...           ...           ...          ...
72  cluster-2134c9  santa_rita_3  finca-61c359    primavera
73  cluster-4eebb0           NaN  finca-61c359    primavera
74  cluster-8657db           NaN  finca-18b0a5  villa_libia
75  cluster-49c109           NaN  finca-3f2f1f   santa_rita
76  cluster-f1fcfe           NaN  finca-dc5a3c    la_paloma

[77 rows x 4 columns]

In [ ]:
fincas

  nombre_finca      finca_id
0    la_paloma  finca-dc5a3c
1    primavera  finca-61c359
2   santa_rita  finca-3f2f1f
3  villa_libia  finca-18b0a5

In [49]:
excel_file_name = 'datos_finca_DB_V3.xlsx'

# Define la ruta de la carpeta en Google Drive
folder_name = 'finca_cafe'
folder_path = os.path.join('/content/drive/My Drive', folder_name)
excel_file_path = os.path.join(folder_path, excel_file_name)


# Crea un diccionario que contiene todos los DataFrames
all_dataframes = {
    **dataframes,  # Desempaqueta el diccionario 'dataframes'
    'actividad_general': actividad_general,
    'fincas': fincas,
    'lotes': lotes
}

# Guarda los DataFrames en el archivo Excel
with pd.ExcelWriter(excel_file_path, engine='xlsxwriter') as writer:
    for sheet_name, df in all_dataframes.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)

print(f"Archivo Excel '{excel_file_name}' creado en la carpeta '{folder_name}' en tu Google Drive.")

Archivo Excel 'datos_finca_DB_V3.xlsx' creado en la carpeta 'finca_cafe' en tu Google Drive.